[2016-03-25 22:16] L4BORG commented on #273
Hm...

[code]

[code]

[2016-03-25 22:17] L4BORG commented on #273
Using.. https://www.spigotmc.org/resources/essentialsx.9089/

[2016-03-25 22:18] MylesIsCool commented on #273
What /ver is this?

[2016-03-25 22:40] L4BORG commented on #273
[code]

https://ci.techcable.net/job/TacoSpigot/

[2016-03-25 22:41] MylesIsCool commented on #273
Does this happen when using normal spigot?

[2016-03-25 22:45] HugoDaBosss opened #274 "ClassCastException when quitting"
### What version of ViaVersion are you using? Type /ver viaversion
0.6.7
### What version of Spigot are you using? Type /ver
CraftBukkit version git-Spigot-e4d4710-e1ebe52 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)
### What plugins are you using? Type /plugins
EssentialsX, Viaversion and ProtocolLib
### Are you using any additional software like BungeeCord? If so, what software and

[2016-03-25 22:45] L4BORG commented on #262
Not ViaVersion issue, works fine after PaperSpigot downgrade...

[code]

[2016-03-25 22:45] #262 closed

[2016-03-25 22:45] HugoDaBosss commented on #273
Was trying to replicate this issue, and got #274, very similar.

[2016-03-25 22:49] HugoDaBosss commented on #262
Thanks for your updates @L4BORG ! Good to hear it wasn't ViaVersion

[2016-03-25 22:57] HugoDaBosss commented on #273
Could you post your essentialsx config @L4BORG ? You can send it privately if you don't like it being published.

[2016-03-25 23:01] L4BORG commented on #273
It was default config, I've removed whole plugins folder and uploaded only ViaVersion, ProtocolLib and EssentialsX (and let them generate default configs).

[2016-03-25 23:21] HugoDaBosss commented on #273
Running the exact same version of tacospigot. Installed a clean essentialsx and viaversion 0.6.7.
Using BungeeCord: This server is running BungeeCord version git:BungeeCord-Bootstrap:1.9-SNAPSHOT:859d176:1132 by md_5
I am unable to replicate this...

[2016-03-25 23:27] HugoDaBosss commented on #271
Yeah but it is supposed to crash the entire client. When in 1.9 it will receive a malformed packet first, resulting in a kick from the server, not an entire client crash...

[2016-03-25 23:39] L4BORG commented on #273
I was testing on...
00:37:45 [INFO] This server is running BungeeCord version git:BungeeCord-Bootstrap:1.9-SNAPSHOT:aaddc9f:1135 by md_5

Won't happen if you run only Ess or ProtocolLib (with ViaVersion ofc).

ViaVersion + Ess **or** ViaVersion + ProtocolLib would work fine, but all three won't...

[2016-03-25 23:57] xion87 commented on #262
so is also a issue of latest paperspigot?

[2016-03-26 06:58] alexmarkey commented on #248
Alright finally managed to reproduce this:

This is Only reproduceable using LilyPad (I think, When using no lilypad I get no client crashes but I believe this can still be fixed on the ViaVersion side of things)

The arrow issue only happens when the server is FULL of 1.8 clients, if there is 1 player using 1.9 NO clients will crash.

So for example when testing on a server using lilypad I was th

[2016-03-26 15:57] HugoDaBosss commented on #199
Fixed by #275

[2016-03-26 15:57] #199 closed

[2016-03-26 18:09] Matsv commented on #271
@HugoDaBosss AAC might just send bad packets, and maybe that's patched in 1.9?

[2016-03-26 21:04] fabien91 opened #276 "Team viaversion already exists in this scoreboard"
### What version of ViaVersion are you using? Type /ver viaversion
Last on GitHub 0.6.8

### What version of Spigot are you using? Type /ver
Last version

### What plugins are you using? Type /plugins
Plugins (28): WorldEdit, Essentials, AutoMessage, Buycraft, HolographicDisplays, FancyPortals, TeleportSigns, WorldGuard, BungeePlayerCounter, EssentialsChat, WGRegionEvents, PressurePush, Permission

[2016-03-26 21:06] MylesIsCool commented on #276
Disable auto-team

[2016-03-26 22:27] MrDip opened #277 "Holograms Y Location Off"
### What version of ViaVersion are you using? Type /ver viaversion

ViaVersion version 0.6.7

### What version of Spigot are you using? Type /ver

This server is running CraftBukkit version git-PaperSpigot-"ee63dbe" (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins

HolographicDisplays, ViaVersion and others

(http://dev.bukkit.org/bukkit-plu

[2016-03-26 22:34] MrDip commented on #277
Just tested with ViaVersion 0.6.8-SNAPSHOT and it doesn't seem to be fixed with that version either.

[2016-03-26 22:37] MrDip commented on #277
Nvm missed the config option. thanks!

[2016-03-26 22:37] #277 closed

[2016-03-27 00:01] HugoDaBosss commented on #271
They aren't bad packets, they flood you with 200.000 entity spawn packets @Matsv

[2016-03-27 07:43] GaryTheSnail opened #278 "Poison potion / eating"
### What version of ViaVersion are you using? Type /ver viaversion
ViaVersion 0.6.7
### What version of Spigot are you using? Type /ver
CraftBukkit version git-PaperSpigot-443 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)
### What plugins are you using? Type /plugins
ViaVersion
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list yo

[2016-03-27 09:01] HugoDaBosss commented on #278
This should have been fixed by: https://github.com/MylesIsCool/ViaVersion/commit/d5e9170109085c80b30ddb71015bc538d8bbfecc
Make sure 'simulate-pt' is set to true in your config.

[2016-03-27 12:00] #276 closed

[2016-03-27 12:55] MylesIsCool commented on #248
Closed, related to LilyPad / Map Issue, working with to help find a solution.

[2016-03-27 12:55] #248 closed

[2016-03-27 13:06] MylesIsCool commented on #278
Gonna close can't replicate, also probably simulate-pt being off.

[2016-03-27 13:06] #278 closed

[2016-03-27 13:12] HugoDaBosss commented on #109
So what's the state of this?
I'm not experiencing this anymore with the latest versions and 1.9 client.

[2016-03-27 13:45] Paulomart commented on #109
I'm currently on holiday and have no way to test this. I will look into when I'm back

[2016-03-27 15:42] GaryTheSnail commented on #278
Very sorry for submitting the issue. I did have simulate-pt at false, must've skimmed past it somehow.
Thanks for helping though.

[2016-03-27 23:01] MylesIsCool commented on #222
Test on latest please. (0.7.0)

[2016-03-27 23:02] MylesIsCool commented on #249
Will continue to investigate overviewed our code and can't find a cause but it may be easy in other code to cause this using concurrency elsewhere. Will reopen if I find more cases.

[2016-03-27 23:02] #249 closed

[2016-03-27 23:03] MylesIsCool commented on #274
Dupe of #273 Closing so that we don't have more issues than one for bug.

[2016-03-27 23:03] #274 closed

[2016-03-28 00:44] L4BORG commented on #273
It looks like the issue went away on 0.7.0.

[2016-03-28 00:46] MylesIsCool commented on #273
@L4BORG Not going to close this quite yet, until it's fully confirmed

[2016-03-28 08:24] JustJordyNL opened #281 "ERRORS"
0.7.0

 CraftBukkit version git-Spigot-6c9b0a1-de5c261 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

Plugins (40): MotdManager, CoreProtect, Ridemycraft, ArmorColorChanger, GUICalculator, WorldEdit, Installer, HealthBar, RolePlayCalendar, Essentials, GroupManager, AutoBroadcaster, Aspiire-public, CrackShot, StopCrafting, Chairs, MinetopiaATM, Multiverse-Core, ProtocolLib, WorldGuard,

[2016-03-28 08:31] HugoDaBosss commented on #281
Please follow the issue template, that way we will be able to actually assist you.
Could you post the full log of your console to [www.pastebin.com](www.pastebin.com)?
I'll look into this, but I'm not sure if I'm able to help with this little information.

[2016-03-28 08:35] HugoDaBosss commented on #281
I saw you also reviewed our plugin. If we fix this issue, could you please remember to update your review? It would mean a lot to us, thanks!

[2016-03-28 09:08] HugoDaBosss commented on #222
Still happens, only when firing with a small velocity though.
You can see the arrow coming back, and as soon as it lands serverside it will be placed at the correct loaction.

[2016-03-28 09:13] TheIntelloBox opened #282 "Server List Plus : AGAIN"
### What version of ViaVersion are you using?

7.0

### What version of Spigot are you using?

1.8.8-latest

### What plugins are you using?

Via Version

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

Nothing

### How does this error happen? login? Using an item?

https://github.com/MylesIsCool/ViaVersion/issues/227

[2016-03-28 09:19] Matsv commented on #282
Thanks for reporting.

[2016-03-28 10:02] Matsv commented on #282
Fixed in the next version.

[2016-03-28 10:02] #282 closed

[2016-03-28 15:47] ridalarry opened #284 "ItemRewriter does not keep NBT data for names of spawned in items."
### What version of ViaVersion are you using? Type /ver viaversion
0.6.7
### What version of Spigot are you using? Type /ver
https://gyazo.com/ebcddd00b5ce50d17256f6e2820a447a
### What plugins are you using? Type /plugins
Essentials, and ProtocolLib
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
No
### How does this e

[2016-03-28 16:07] MylesIsCool commented on #281
"incoming packet not found 79 state: HANDSHAKE" is not given by version 0.7.0.

Reloads are not supporting / your server is lagging. Most likely the first.

[2016-03-28 16:07] #281 closed

[2016-03-28 17:08] ItsHarry opened #285 "Chests do not open if clicked with a non-block item in hand"
Not sure if this is a bug or just 1.9 behavior

### What version of ViaVersion are you using? Type /ver viaversion
0.6.8-SNAPSHOT (Latest dev build before you released 0.7.0)

### What version of Spigot are you using? Type /ver
git-Spigot-76236cb-62a2169 (MC: 1.8.8)

### What plugins are you using? Type /plugins
Happens without plugins

### Are you using any additional software like BungeeCord? If

[2016-03-28 17:09] MylesIsCool commented on #285
This is due to an interaction issue unfortunately due to the change in items, it is known internally and we're still working out a fix, but an issue always helps haha

[2016-03-28 17:10] ItsHarry commented on #285
Alright, thanks for the quick response

[2016-03-28 17:21] MylesIsCool commented on #285
@ItsHarry I just had another look into this, chests seem to open fine for my client? (Using 1.9) with any item. I know there is an issue relating to interaction to items but it doesn't break vanilla behaviour.

[2016-03-28 17:24] ItsHarry commented on #285
I tried again and removed every plugin except ViaVersion to be sure, the chest doesn't open for me. The swing animation is there but nothing happens

[2016-03-28 17:25] HugoDaBosss commented on #285
@ItsHarry could you try this with ViaVersion 0.7.0?

[2016-03-28 17:26] MylesIsCool commented on #285
@HugoDaBosss @ItsHarry That'll be the issue haha

[2016-03-28 17:27] ItsHarry commented on #285
Seems to work fine in 0.7.0, nice

Is version 0.7.0 stable enough for production use?

[2016-03-28 17:29] MylesIsCool commented on #285
We've got some networks as big as yours using it. @ItsHarry

[2016-03-28 17:35] HugoDaBosss commented on #285
To add, the 0.7.0 update fixes several issues which are present in 0.6.8-SNAPSHOT @ItsHarry

[2016-03-28 17:36] ItsHarry commented on #285
Alright cool, I will update. Thanks guys

[2016-03-28 17:36] #285 closed

[2016-03-28 20:26] L4BORG opened #286 "/reload issues"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.0

### What version of Spigot are you using? Type /ver
CraftBukkit version git-TacoSpigot-"e026d35" (MC: 1.8.8) (Implementing API version 1.8.8-R0.2-SNAPSHOT)

### What plugins are you using? Type /plugins
AsyncWorldEditInjector, ServerManager, PlayerWarps, AutoSaveWorld, GuiRedeemMCMMO, AsyncWorldEdit, GlobalMarket, mcMMO, Via

[2016-03-28 20:30] HugoDaBosss commented on #286
We don't support reloads.

[2016-03-28 21:00] MylesIsCool commented on #286
Reloads are not supported, never have been. We suggest using a plugin manager like plugman to load and unload plugins.

[2016-03-28 21:00] #286 closed

[2016-03-29 12:48] alexmarkey opened #287 "Respawning = glitched chunk sometimes"
### What version of ViaVersion are you using? Type /ver viaversion

0.7.0

### What version of Spigot are you using? Type /ver

CraftBukkit version git-Spigot-db6de12-18fbb24 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins

HideStream, LilyPad-Connect, ViaVersion, QuickNoColon, CustomHelp, AutoLapis, WorldReset, Updater, ProtocolLib, Hologr

[2016-03-29 13:16] ridalarry opened #288 "Kick"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.0
### What version of Spigot are you using? Type /ver
latest 1.8
### What plugins are you using? Type /plugins
Protocollib, Essentials, Skript, AutoIn, Authme, HolographicDisplays, AAC, ChatControl
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
No

[2016-03-29 13:29] alexmarkey commented on #287
Only able to reproduce this using 1.9, 1.8 clients do not encounter this.
Reproduced using 1 plugin (ViaVersion)
Reproduced on regular spigot (Not paper)

Easiest way to reproduce is to simply start up a server and keep killing yourself in the console over and over, eventually will happen.

[2016-03-29 13:30] Matsv commented on #287
@alexmarkey thanks, let me try

[2016-03-29 13:30] HugoDaBosss commented on #284
I'm not experiencing this issue on 0.7.0. Could you retest this please on 0.7.0?

[2016-03-29 13:31] HugoDaBosss commented on #287
Can confirm @alexmarkey

[2016-03-29 13:37] Matsv commented on #287
Wow this is strange

[2016-03-29 13:38] HugoDaBosss commented on #288
And what is the error in the server console? @ridalarry

[2016-03-29 13:42] ridalarry commented on #288
I didnt have any as I had the option of metadata set to false I have just enabled it and restarted I will try to see if this issue is going to have any console errors and post it

[2016-03-29 13:43] HugoDaBosss commented on #288
If you are testing, please enable debug mode as well, with /viaversion debug @ridalarry

[2016-03-29 13:44] Matsv commented on #287
Doesn't happen for me when switching worlds -> nether -> overworld -> nether etc

[2016-03-29 13:51] ridalarry commented on #288
without using the debug nothing appears but after enabling the debug this is the log
http://pastebin.com/pAvyciqd

[2016-03-29 13:55] ridalarry commented on #284
@HugoDaBosss I tried it on 0.7.0 and it still happening

[2016-03-29 13:56] Matsv commented on #284
Confirmed, also happening for me.

[2016-03-29 14:00] HugoDaBosss commented on #288
The debug output is only useful when the actual bug appeared during the debug. So please wait before this error to occur again, and post the relevant debug output.

[2016-03-29 14:02] #287 closed

[2016-03-29 14:46] themazim commented on #287
unfortunately, this is not fixing the issue. Still experiencing the issue.

[2016-03-29 14:49] Matsv commented on #287
@themazim It's working for me, did you try it with the latest build from the build server? http://ci.xephi.fr/job/ViaVersion/39/artifact/target/ViaVersion-0.7.0.jar

[2016-03-29 14:57] themazim commented on #287
I pulled and build. Just tried your build, same behaviour.

[2016-03-29 16:50] MrStickySlime opened #292 "When TP'd to unloaded chunks it will not load the chunks and glitch out your game on 1.9"
BTW i have the same problem as #287

### What version of ViaVersion are you using?
0.7.0

### What version of Spigot are you using?
git-Spigot-db6de12-18fbb24 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)
[18:42:24 INFO]: You are 203 version(s) behind

### What plugins are you using? Plugins (37): AsyncWorldEditInjector, WorldEdit, TimTheEnchanter, Essentials, ClearLag, ChatControl, P

[2016-03-29 16:51] HugoDaBosss commented on #292
This could be the same case as #287 , thanks for reporting!

[2016-03-29 16:53] MrStickySlime commented on #287
Same problem here!!!

[2016-03-29 16:54] MylesIsCool commented on #287
@themazim Could you be clear, does this happen in relation to respawning or just TP'ing?

[2016-03-29 16:58] MrStickySlime commented on #287
@MylesIsCool Happens when respawning as far as i know but i think it has to do with unloaded chunks

[2016-03-29 17:02] HugoDaBosss commented on #287
It happened for me as well when respawning in the chunk I died in. But the client probably unloads chunks on death/respawn.

[2016-03-29 17:05] themazim commented on #287
setRespawnLocation in Player Respawn Event:

`event.setRespawnLocation(loc);`

The chunk is definitely loaded.

[2016-03-29 17:13] MylesIsCool commented on #288
You may need to enable debug=true in server.props

[2016-03-29 17:22] themazim commented on #287
Chunks are loaded. tp into loaded chunks is working fine, which was fixed with commit https://github.com/MylesIsCool/ViaVersion/commit/1b99e2cf57f36996fe4723ddda5ba1d1350af00d
Respawning into loaded chunks is still buggy, most if the time it doesn't work.

[2016-03-29 17:27] MylesIsCool commented on #287
@themazim Can you try the latest patch?

[2016-03-29 18:20] themazim commented on #287
Just tried the latest patch - still not working. The chunk is not visible. No sure if this is related, but right after respawning the console prints:

[code]

[2016-03-29 22:27] alexmarkey commented on #287
Confirmed that it is still happening to me.

[2016-03-29 23:03] ridalarry commented on #288
@MylesIsCool @HugoDaBosss I have enabled debug and got this log, but for some reason it says that debug is disabled http://pastebin.com/sJ8rM7Vk

the first time I got disconnected because I noticed that I was using a 1.8 client

[2016-03-30 02:18] alexmarkey opened #293 "Clients crashing (Metadata not converted right)"
### What version of ViaVersion are you using? Type /ver viaversion

0.7.0

### What version of Spigot are you using? Type /ver

http://prntscr.com/altuyb

### What plugins are you using? Type /plugins

http://prntscr.com/altv0c

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

LilyPad

### How does this error happen? l

[2016-03-30 13:04] L4BORG commented on #273
Good idea... because it looks like the issue is still there. Won't happen as frequently as before but it's still there...

[2016-03-30 13:16] MylesIsCool commented on #273
@L4BORG out of curiosity does it happen with simulate pt off?

[2016-03-30 13:42] alexmarkey opened #294 "1.9 clients getting stuck on top of lilypads"
### What version of ViaVersion are you using? Type /ver viaversion

0.7.0

### What version of Spigot are you using? Type /ver

http://prntscr.com/am0a7y

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

LilyPad

### How does this error happen? login? Using an item?

Setup a line of lilypads in the water then run acros

[2016-03-30 13:54] alexmarkey commented on #294
Trying to get more info, will update when I do

[2016-03-30 14:02] alexmarkey commented on #294
Alright cracked it,

Reproduced using 2 plugins,

ViaVersion & NoCheatPlus

ViaVer build 0.7.0
NCP build - http://prntscr.com/am0kk1

Default NCP config

[2016-03-30 15:04] MylesIsCool commented on #294
Maybe you need to disable hit box detection in NCP as it might of changed? We can't really patch that.

[2016-03-30 15:07] L4BORG commented on #273
Yes. :/

[2016-03-30 15:43] #273 closed

[2016-03-30 15:43] MylesIsCool commented on #273
In future please use pastebin.

[2016-03-30 15:45] MylesIsCool commented on #109
Closing cannot replicate on 0.7.0, using BungeeCord takes less than a second to switch on a network using Protocol Lib, Via, and other plugins.

[2016-03-30 15:45] #109 closed

[2016-03-30 16:21] MylesIsCool commented on #293
Need retest with 0.7.1 for more info, it's metadata related ofc

[2016-03-30 17:18] Lmmb74 opened #296 "Disconnected"
ViaVersion Version: 0.7.3-SNAPSHOT

Spigot Version: git-Spigot-d20369f-7fc5cd8 (MC: 1.9) (Implementing API version 1.9-R0.1-
SNAPSHOT) {Checked at 2:15 PM GMT -3 03/30 [latest version]}

Plugins (99): NetherWater, Gender, PerWorldPlugins, PlugMan, WebServers, BanManager, PerWorldTab, SpiderNest, SuperLuckyBlock, ViaVersion, GetPerms, ObsidianBox, A, BowSpleef, Modifyworld, BackPacks-1.9, ResourceP

[2016-03-30 18:06] MylesIsCool commented on #296
Is there any console output?

Can you turn on debug=true in server.properties and use pastebin please.

[2016-03-30 18:13] TheIntelloBox opened #297 "Request"
This isn't a bug.
This is a request.

Could you add a GUI to allow players, using 1.9 and above, to choose if they want to see the bossbar, if they want to see the new effet indicator, if they want to see the new bow's animation...

[2016-03-30 18:27] MylesIsCool commented on #297
An external plugin should probably do this.

[2016-03-30 18:27] Matsv commented on #297
Every developer can implement this using ViaVersions' API. I don't think this plugin will implement this

[2016-03-30 18:53] TheIntelloBox commented on #297
I'm not a developer so I can't do this ! :(

[2016-03-31 00:34] wow4201 commented on #287
Also happening latest build

[2016-03-31 01:30] alexmarkey opened #298 "Disconnected with Debug Mode"
### What version of ViaVersion are you using? Type /ver viaversion

0.7.2

### What version of Spigot are you using? Type /ver

http://prntscr.com/am9uid

### What plugins are you using? Type /plugins

http://prntscr.com/am9up9
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

LilyPad

### How does this error happen? lo

[2016-03-31 03:56] alexmarkey opened #299 "NPC's not showing handheld items on 1.9"
### What version of ViaVersion are you using? Type /ver viaversion

0.7.2

### What version of Spigot are you using? Type /ver

http://prntscr.com/amaydi

### What plugins are you using? Type /plugins

http://prntscr.com/amayez
NPC plugin is custom in our lobby, spawned via packets.

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plug

[2016-03-31 09:19] MylesIsCool commented on #298
Going to close this as you want to report the issue in your already made issue, #293.

This is not useful as this is just the errors behind disconnects, (eg. The client hitting the close button, or losing connection), the error you want most likely will contain the word ViaVersion but it won't be related to broken pipes, socket closing.

[2016-03-31 09:19] #298 closed

[2016-03-31 09:20] MylesIsCool commented on #297
Going to close this, this won't be implemented as it's too much overhead and not really worth the time to do. If an external plugin wants to do it that's cool but we're not gonna support it ourselves.

[2016-03-31 09:20] #297 closed

[2016-03-31 14:31] davewanders opened #302 "ERROR Item entity 159357 has no item?!"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.2
### What version of Spigot are you using? Type /ver
Newest 1.8.8
### What plugins are you using? Type /plugins

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
Yes, bungeecord : version 1141
### How does this error happen? login? Using an item?
ID

[2016-03-31 14:31] Matsv commented on #299
Fixed when #301 get merged.

[2016-03-31 14:31] #299 closed

[2016-03-31 14:31] Matsv commented on #302
Please give us the full error log.

[2016-03-31 14:33] Matsv commented on #302
ViaVersion is not causing this, we don't have this error message.

[2016-03-31 14:33] #302 closed

[2016-03-31 16:46] MrJoki007 opened #303 "Fail after reload"
git-Spigot-e4d4710-e1ebe52 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

Doesnt matter, plugin error

BungeeCord

Happens after a reload

http://pastebin.com/PdQmYaYC

Join error: Exception Connecting:NativeIoException : syscall:read(...)() failed: COnnection reset by peer

[2016-03-31 16:48] MylesIsCool commented on #303
Reloads are not supported as said in the plugin description in red text.

[2016-03-31 16:48] #303 closed

[2016-03-31 16:52] MrJoki007 commented on #303
Then i will delete the plugin again

[2016-03-31 16:54] HugoDaBosss commented on #303
A little appreciaton for all this hard work would be in its place here @MrJoki007

[2016-03-31 16:56] MrJoki007 commented on #303
It be able to implement reloads
You see it on all the other protocol hacks, that have reloads too

[2016-03-31 16:57] HugoDaBosss commented on #303
Well then use another one, (oh wait, there isn't), bye @MrJoki007

[2016-03-31 17:31] L4BORG commented on #273
Still happens every now and then... could it be caused by another flying entity (besides the one joining the server)?

[2016-04-01 17:04] MylesIsCool commented on #294
Gonna close this issue, if you have this issue consider disabling noclip detection for no cheat (or making it exclude lilypads not sure if that's possible though)

[2016-04-01 17:04] #294 closed

[2016-04-01 17:15] MylesIsCool commented on #288
Fixed in next version assuming the error 255 is because the list ended prematurely.

[2016-04-01 17:15] #288 closed

[2016-04-01 20:10] Eternalrealms opened #310 "Invalid Chunk Data with LilyPad & lots of players"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.2
### What version of Spigot are you using? Type /ver
1.8.8 spigot
### What plugins are you using? Type /plugins
viaversion, bukkit connect, essentials, protocallib,
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
Lilypad no plugins

### How does th

[2016-04-01 20:48] Eternalrealms commented on #310
Everyone gets kicked at the same time when this happens.

[2016-04-02 01:06] Schuchie commented on #287
@MylesIsCool
This bug only appears when the player die's near his respawn location. But not every time.
This respawn goes wrong: http://haste.cloudwi.de/axefevoboy.css
This respawn works: http://haste.cloudwi.de/kuwiwotoco.css

[2016-04-02 11:59] Matsv commented on #284
This is how I get it,

* Rename any item with an anvil
* put that item in your hand
* open your inventory
* Itemname goes back to default

[2016-04-02 12:54] MylesIsCool commented on #310
Message doesn't help need output of with debug mode on, also turning on debug=true on server.properties may also help.

[2016-04-02 13:09] #284 closed

[2016-04-02 13:10] Matsv commented on #284
Fixed

[2016-04-02 13:46] #223 closed

[2016-04-02 15:02] gigosaurus commented on #48
Noticed that I still had the code for this commented out, and when I uncommented I was getting issues again. With debug enabled I get the same stack trace as before.

I've tested with both the latest release and the latest dev build.

[2016-04-03 00:46] ViaList opened #314 "/viaver list - Error on PaperSpigot"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.3
### What version of Spigot are you using? Type /ver
PaperSpigot 1.8 Final Build
### What plugins are you using? Type /plugins
Not leaking this.
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
No, just paperspigot
### How does this error happen? lo

[2016-04-03 00:47] ViaList commented on #314
"An internal error occurred while attempting to perform this command"

It worked on ViaVersion 0.7.2

[2016-04-03 00:51] #314 closed

[2016-04-03 07:19] mat41997 opened #315 "Picture Frames"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.3

### What version of Spigot are you using? Type /ver
spigot 1.8.8 latest

### What plugins are you using? Type /plugins
Plugins (6): PluginManagerReloaded, WorldEdit, ViaVersion, PacketListenerApi, MapManager, AnimatedFrames

### Is there an error in the console? Use pastebin.com. Is there a kick message?
http://ha

[2016-04-03 07:49] Rida94 commented on #315
Can you turn debug=true in server.properties with viaversion debug by doing /viaversion debug also use the entire log.

[2016-04-03 08:35] MisterIdeas opened #316 "ProtocolLib error at startup"
### What version of ViaVersion are you using? Type /ver viaversion

0.7.3

### What version of Spigot are you using? Type /ver

1.8.8-R0.1-SNAPSHOT

### Error

I have an error with ProtocolLib at startup and when whe try to connect in 1.9

ProtocolLib error at startup : http://pastebin.com/uzYD3sk2
ProtocolLib kick error : http://pastebin.com/PdAvjajF

Thanks

[2016-04-03 08:40] mat41997 commented on #315
http://pastebin.com/S0HLHbLB

[2016-04-03 09:04] TheIntelloBox opened #317 "Request : Auto Updater / And /viaversion update"
Hello,

This is a request.
Could you add an auto updater or a command /viaversion update, to update the plugin ?

Thanks.

[2016-04-03 09:12] HugoDaBosss commented on #317
I think @MylesIsCool already stated that this is not going to happen, but I'm not sure.

[2016-04-03 09:14] HugoDaBosss commented on #316
Is there any chance you reloaded your server before this?

[2016-04-03 09:15] HugoDaBosss commented on #315
Could you please provide us more information on what the exact issue is? Or how to replicate? @mat41997

[2016-04-03 09:30] MisterIdeas commented on #316
No i don't use /reload at all.
I have this after each reboot and it is the only server with this error.

[2016-04-03 09:32] HugoDaBosss commented on #316
Could you redownload the latest version of ProtocolLib (for 1.8) and the latest PaperSpigot?
And just to be sure, download ViaVersion again and see if the error still occurs.

[2016-04-03 09:41] mat41997 commented on #315
java 8
client 1.9
command:
/af create http://a.disquscdn.com/uploads/mediaembed/images/3445/2254/original.jpg?w=600&h

files
http://speedy.sh/zezJq/ZSer.7z
or
https://drive.google.com/file/d/0B4sNCwuKX5m8LWc2eTdPWk5MUXc/view?usp=sharing

skan
https://www.virustotal.com/pl/file/13966195351c0d188aff52a13f51f835daf83eae9870852943f587dd385459fd/analysis/1459676446/

[2016-04-03 09:48] HugoDaBosss commented on #315
Thanks for providing all this information, I can indead confirm this crash @mat41997 ;)
I'll look into in it.

[2016-04-03 09:53] HugoDaBosss commented on #314
Not fixed, but should be fixed now thanks to @Matsv #319

[2016-04-03 11:28] MylesIsCool commented on #316
Please could you actually follow the format and put all your plugins.

[2016-04-03 13:13] UltraX3 opened #321 "Error spam: Encoder, Runtime, Cancel Exception"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.3
### What version of Spigot are you using? Type /ver
PaperSpigot 1.8.8-R0.1-SNAPSHOT
### What plugins are you using? Type /plugins
ObsidianDestroyer, RaidableDefenses, ClearChat, Blood, zPermissions, PlugMan, Buycraft, SpawnJoin, AntiPortalTrap, ViaVersion, LavaSponge, AsyncWorldEditInjector, RealPing, VoteRoulette, WorldEdit,

[2016-04-03 20:09] MinecraftB0ss opened #322 "internal excepton when using /viaversion list"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.3
### What version of Spigot are you using? Type /ver
CraftBukkit version git-Spigot-db6de12-3f3c65f (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)
### What plugins are you using? Type /plugins
Plugins (64): GhillieSuit, zPermissions, BukkitHiddenSyntaxBlocker, BarbedWire, WorldReset, BanManager, DispenserStorage, G

[2016-04-03 20:10] MylesIsCool commented on #322
Fixed in next version, don't worry.

[2016-04-03 20:10] #322 closed

[2016-04-03 20:11] MinecraftB0ss commented on #322
Thanks!

[2016-04-03 21:03] ridalarry commented on #321
I can say its probably not PlugMan, AsyncWorldEdit, AsyncWorldEditInjector, TouchscreenHolograms, HolographicDisplays, PlotSquared, Multiverse-Core, Essentials, Vault, Votifier, WorldEdit, WorldGuard, ClearLag, and ChatControl, as I am using them with no issues. Also, you may want to remove BookExploitFix as the book exploit got fixed by spigot or mojang without the need of the plugin.

[2016-04-03 22:07] MedicOP opened #323 "Plugin attempted to register BaseProtocol while not enabled"
ViaVersion loads before ProtocolLib. When ProtocolLib loads, it generates this error. The same error seems to happen for PEX and NCP.

ViaVersion actually "enables" after these other plugins have already loaded, not sure if that is a problem.

### What version of ViaVersion are you using? Type /ver viaversion
0.7.4-SNAPSHOT

### What version of Spigot are you using? Type /ver
git-Spigot-76236cb-62

[2016-04-03 22:30] #316 closed

[2016-04-03 22:30] MylesIsCool commented on #323
Fixed in next versiom

[2016-04-03 22:30] #323 closed

[2016-04-03 22:38] MylesIsCool commented on #321
The issue related to a plugin doing something with packets, and then causing it not to throw our errors. So any plugins which do fancy things may be causing it. I'd suggest removing half plugins testing and then working out using that method to find which plugin causes it.

[2016-04-03 23:59] Twi5TeD opened #324 "error on startup using latest version"
### What version of ViaVersion are you using? Type /ver viaversion
[23:56:01 INFO]: ViaVersion version 0.7.3
[23:56:01 INFO]: Author: _MylesC

### What version of Spigot are you using? Type /ver
 This server is running CraftBukkit version git-TacoSpigot-"c80c1e5" (MC: 1.8.8) (Implementing API version 1.8.8-R0.2-SNAPSHOT)
[23:56:19 INFO]: Checking version, please wait...
[23:56:19 INFO]: You are 14

[2016-04-04 00:01] Twi5TeD commented on #324
also
[23:59:38] [Server thread/INFO]: F64_Rx issued server command: /viaversion list
[23:59:38] [Server thread/ERROR]: null
org.bukkit.command.CommandException: Unhandled exception executing command 'viaversion' in plugin ViaVersion v0.7.3
	at org.bukkit.command.PluginCommand.execute(PluginCommand.java:47) ~[patched.jar:git-TacoSpigot-"c80c1e5"]
	at org.bukkit.command.SimpleCommandMap.dispatch(Sim

[2016-04-04 08:37] TheIntelloBox opened #325 "Unhandled exception"
### What version of ViaVersion are you using?

7.3

### What version of Spigot are you using?

1.8.9

### What plugins are you using?

Via-Version

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

No

### How does this error happen? login? Using an item?

When I do /viaversion list

### Is there an error in the console

[2016-04-04 09:07] MedicOP commented on #325
Was already fixed in 1fa7211

[2016-04-04 09:08] MedicOP commented on #324
Startup error was fixed in c7c6ee9
Command error was fixed in 1fa7211

[2016-04-04 11:50] alexmarkey opened #326 "Multiple right click / interact with 1 click"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.2

### What version of Spigot are you using? Type /ver

http://prntscr.com/anyskv

### What plugins are you using? Type /plugins

http://prntscr.com/anysop
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

LilyPad

### How does this error happen? log

[2016-04-04 12:51] #325 closed

[2016-04-04 13:28] Twi5TeD commented on #324
has it been updated on spigot or not yet?

[2016-04-04 13:31] Matsv commented on #325
Fixed in the next version https://github.com/MylesIsCool/ViaVersion/commit/4431ca63c2d0b6f3c662789548a43f0a3c4015d4

[2016-04-04 13:39] alexmarkey opened #327 "Hologram item drops being broken by 'Hologram fix'"
### What version of ViaVersion are you using? Type /ver viaversion

0.7.4 Snapshot

### What version of Spigot are you using? Type /ver

http://prntscr.com/ao03vi

### What plugins are you using? Type /plugins

http://prntscr.com/ao03za

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

LilyPad

### How does this error

[2016-04-04 14:12] Matsv commented on #327
@alexmarkey Does it happen when you use this build? :) http://fileserver.matsv.nl/files/viaversion.jar

[2016-04-04 14:43] alexmarkey commented on #327
Issue is sadly still there

[2016-04-04 14:45] MylesIsCool commented on #315
I've looked into this and after decompiling MapManager the issue is it sends invalid data, we could patch it but really the plugin shouldn't be doing this I hope to be in contact with inventivtalent to get this fixed.

[2016-04-04 14:45] Matsv commented on #327
If you created the 'crate plugin', this is what you can do:

* Let the Item entity ride on the ArmorStand entity that is not small, for me this only occurs on armorstand entities with setSmall(true) (with my build, or the development build when #328 get merged)

[2016-04-04 14:46] MylesIsCool commented on #324
It will be updated today you can use a unofficial build like: http://build.fillecraft.com:8080/job/ViaVersion/lastBuild/us.myles$viaversion/

If you want it early.

[2016-04-04 14:46] #324 closed

[2016-04-04 14:46] Twi5TeD commented on #324
yh found it before thanks anyway :)

[2016-04-04 15:26] TheIntelloBox opened #329 "2 Items but One in the hand !"
### What version of ViaVersion are you using?

7.3

### What version of Spigot are you using?

1.8.8-latest

### What plugins are you using?

Via-Version

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

No

### How does this error happen? login? Using an item?

When a player has an item in his hand, another player see

[2016-04-04 16:45] PlugKa opened #330 "Kick when you create a AnimatedFrames on 1.9"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.3
### What version of Spigot are you using? Type /ver
CraftBukkit version git-Spigot-db6de12-18fbb24 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)
### What plugins are you using? Type /plugins
AnimatedFrames; PacketListenerAPI; MapManager
### Are you using any additional software like BungeeCord? If so, what softwa

[2016-04-04 18:01] MylesIsCool commented on #330
Duplicate issue of #315 consider looking through issues before reporting.

[2016-04-04 18:01] #330 closed

[2016-04-05 14:56] MylesIsCool commented on #315
I've contacted inventive and got him to fix the issue.

https://www.spigotmc.org/resources/api-mapmanager-1-7-1-8-1-9.19198/updates

New one should work :)

[2016-04-05 14:56] #315 closed

[2016-04-05 15:47] mat41997 opened #331 "Item Frame - MapManager/AnimatedFrames"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.4

### What version of Spigot are you using? Type /ver
spigot 1.8.8 latest

### What plugins are you using? Type /plugins
AnimatedFrames_v3.1.1, MapManager_v1.1.3, PacketListenerAPI_v3.3.3, ViaVersion-0.7.4 and other.

### How does this error happen? login? Using an item?
/af create https://media.giphy.com/media/jG186kNLKs6TS/g

[2016-04-05 16:37] MisterIdeas commented on #316
When i remove ProtocolLib it's ok but when there is ProtocolLib (same version of other servers) i have the error.

Plugins : http://prntscr.com/aohue2
Bungee Plugins : http://prntscr.com/aohuna

[2016-04-05 19:21] MisterIdeas opened #332 "Some plugin using ProtocolLib error at startup"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.4

### What version of Spigot are you using? Type /ver
1.8.8-R0.1-SNAPSHOT

### What plugins are you using? Type /plugins
http://prntscr.com/aohue2

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
Latest version.
http://prntscr.com/aohuna

### How d

[2016-04-05 19:32] Eternalrealms commented on #310
For some reason it wont happen when i type ./viaversion debug. As soon as i turn it off the message occurs.

[2016-04-05 19:39] danbovey opened #333 "Broken pipe when connecting 1.9.2 -> 1.8.8"
ViaVersion 0.74
[code]
- Too many plugins to list

[code]
- BungeeTabListPlus
- ServerListPlus

Logging in from 1.9.2 onto the 1.8 server, gives an error and puts me back onto the 1.9 server.

[Pastebin](http://pastebin.com/raw/DrihK8r3) of log from 1.8 server
[Pastebin](http://pastebin.com/raw/s9L7XNQw) of log from 1.9 Bungee

[2016-04-05 21:00] MylesIsCool commented on #333
Are you running bungee for 1.9.2?

[2016-04-05 21:00] MylesIsCool commented on #333
Are you running bungee for 1.9.2?

[2016-04-05 21:05] MylesIsCool commented on #332
Are you sure you're running the latest version?

Can you do /viaver and print screen output.

[2016-04-05 21:24] danbovey commented on #333
Latest as of today from here http://ci.md-5.net/job/BungeeCord/

[2016-04-05 21:49] UltraX3 opened #334 "Bungeecord 1.9 kick on join"
### What version of ViaVersion are you using? Type /ver viaversion
 0.7.4

### What version of Spigot are you using? Type /ver
git-PaperSpigot-60136e7-18fbb24 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins
Just Viaversion

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins

[2016-04-05 21:54] #334 closed

[2016-04-05 21:54] UltraX3 commented on #334
seems to work some of the time let me look more into it

[2016-04-06 08:09] wow4201 opened #335 "Support for FurnitureLib"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.4
### What version of Spigot are you using? Type /ver
1.8.8
### What plugins are you using? Type /plugins
FurnitureLib, DiceFurniture, ProtocolLib
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
BungeeCord

Can you add in support for FurnitureLib.
I

[2016-04-06 08:12] Matsv commented on #335
@wow4201 Does it still happen in 0.7.4?

[2016-04-06 08:28] wow4201 commented on #335
Yes

[2016-04-06 08:38] Matsv commented on #335
@wow4201 Could you try if it happens with hologram-patch -> false in the config?

[2016-04-06 10:10] wow4201 commented on #335
Having it false, the problem occurs, having it true, the problem occurs, but furniture is displaced y -1 as expected.

[2016-04-06 11:01] Matsv commented on #335
@wow4201 I'm home, I'll take a look at it.

[2016-04-06 12:10] MylesIsCool commented on #327
The fix as described by his dev:
` if (((String)getMetaByIndex(metadataList, 2).getValue()).length() == 0)
                buf.writeShort((short)(int)(128.0D * ((((ViaVersionPlugin)ViaVersion.getInstance()).getHologramYOffset() + 1.0D) * 32.0D)));`

in EntityTracker line 160

Will be patched when I get the chance, needs to have a config option for offset too and it'll be by default disabled as it

[2016-04-06 12:49] Matsv commented on #335
The Minecraft client renders the levers as hat differently (https://fileserver.matsv.nl/media?id=headpos)
That is why the levers are above the chair.

[2016-04-06 12:50] #327 closed

[2016-04-06 12:54] MisterIdeas commented on #332
Yes i am
http://prntscr.com/aou2eu

[2016-04-06 21:59] leo095 opened #337 "Incompatible with protocolsupport"

[2016-04-06 23:36] #337 closed

[2016-04-07 13:22] xion87 opened #338 "Autorespawn at death cause chunk to be unloaded for 1.9.x clients"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.4
### What version of Spigot are you using? Type /ver
This server is running CraftBukkit version git-Spigot-e4d4710-e1ebe52 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)>

### What plugins are you using? Type /plugins
AsyncWorldEditInjector, WorldEdit, HealthBar, Skript, Craftconomy3, ChatControl, SkQuery,
BungeePe

[2016-04-07 18:55] MylesIsCool commented on #321
Going to close this, this really isn't fixable. You have a plugin modifying how the core of netty errors are supposed to work, if you want to spend time working out which it is that's cool otherwise can't help you.

[2016-04-07 18:55] #321 closed

[2016-04-08 13:11] MylesIsCool commented on #331
Uh, this will be something that MapManager is doing wrong again >.> will talk to inventive again sometime.

[2016-04-08 13:55] mat41997 commented on #331
https://www.spigotmc.org/threads/animatedframes-1-7-1-8-1-9.58635/page-30#post-1458659

[2016-04-08 15:19] gigosaurus commented on #338
This bug along with #292 appears to have been introduced by 0.7, as they did/does not happen in 0.6.8 or earlier.

[2016-04-08 15:37] MylesIsCool commented on #338
@gigosaurus Have you tested this with the versions you said? Are you using any plugins? Do you get the same issue as above?

I'm in belief that the changes to chunks between 0.6.8 & 0.7.0 have the same functionality and would not fix this issue.

[2016-04-08 17:03] gigosaurus commented on #338
@MylesIsCool I tested this with a server only containing the ViaVersion plugin and the following plugin:

[code]

Checking out from https://github.com/MylesIsCool/ViaVersion/commit/6c8ccb1b1e58f91fb50e724dbbf6d62906a52e82  does not produce this bug but 406500b0bd88756b7c8539d533a76a66ee2da9f9 does.

[2016-04-08 18:43] MylesIsCool commented on #338
@gigosaurus This seems very weird, are you able to test more branches for me with this code? to find which exact commit broke it?

I've been looking at the differences and can't see anything glaringly obvious which would break it :(

[2016-04-08 19:36] gigosaurus commented on #338
@MylesIsCool Checking out from https://github.com/MylesIsCool/ViaVersion/commit/c300c47a14d089f5d93e8f0eee2b3935f612641d does not produce the bug but https://github.com/MylesIsCool/ViaVersion/commit/89427cb2dadd897ba85762da8ef059f61d900681 does.
The only difference between  https://github.com/MylesIsCool/ViaVersion/compare/89427cb2dadd897ba85762da8ef059f61d900681...c300c47a14d089f5d93e8f0eee2b3935

[2016-04-09 11:30] JakeNelson1999 opened #339 "Bows Error"
### What version of ViaVersion are you using? Type /ver viaversion
ViaVersion version 0.7.4

### What version of Spigot are you using? Type /ver
CraftBukkit version git-Spigot-db6de12-18fbb24 (MC: 1.8.8)
### What plugins are you using? Type /plugins
 Plugins (31): TTA, PlayerHeads, WorldEdit, HealthBar, NoRain, ClearLag, JoinMessagePlus, Modifyworld, RandomTP, WeatherRestrictions, Votifier, Multiv

[2016-04-09 11:48] JBYoshi commented on #339
What is the crash report on the client?

[2016-04-09 15:12] Z609 opened #340 "Freeze @ Handshake"
### What version of ViaVersion are you using? Type /ver viaversion
GitHub latest

### What version of Spigot are you using? Type /ver
This server is running CraftBukkit version git-Spigot-e4d4710-e1ebe52 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins
Plugins (5): ViaVersion, GameAPI(custom), RemoteToolkitPlugin, ProtocolLib, SurvivalGames(

[2016-04-09 15:15] Z609 commented on #340
To be clear, I try to join with any 1.9 client and it just says "Logging in" until it disconnects me for "Disconnected." The handshake is apparently never completed. Tested with 1.9 and 1.9.2. AsyncPlayerPreLoginEvent is never fired, either.

[2016-04-09 15:24] Z609 commented on #340
Overlooked something, logging in with 1.8 causes this error:  Internal Exception: io.netty.handler.codec.EncoderException: java.lang.RuntimeException: An internal error occured.
and doesn't let me log in.

[2016-04-09 16:11] Z609 commented on #340
The issue happens even with JUST ViaVersion, no other plugins.

[2016-04-09 16:13] Z609 commented on #340
It appears it had to do with my custom build of the plugin, which only changes ~2 things, odd.

[2016-04-09 19:13] MylesIsCool commented on #340
Going to close, we recommend being careful with what you do with the plugin. Packet formats and the configuration we use it quite sensitive with slipping causing disconnects.

[2016-04-09 19:13] #340 closed

[2016-04-09 19:14] MylesIsCool commented on #333
@danbovey

If it still doesn't work with latest Bungee, I'd suggest trying without ServerListPlus / Updating it if there is an update. To see if that is the issue.

[2016-04-09 20:03] Eternalrealms commented on #310
The instant I turn debug mode off it happens.

[2016-04-10 09:52] File14 opened #341 "Can't Hear Sound - Blaze_Shoot"
Version:
0.7.4

Server Version:
1.8.8 spigot

If I play the Blaze_Shoot sound I can hear it in 1.8 but not on 1.9.
Ex as this: player.playEffect(player.getLocation(), Effect.BLAZE_SHOOT, 0);

[2016-04-10 11:08] Matsv commented on #341
Fixed next version #342

[2016-04-10 11:08] #341 closed

[2016-04-10 13:31] MylesIsCool commented on #335
Closing this issue as it's something we can't fix. Minecraft has changed rendering methods and it's not really something we can touch at a packet level.

[2016-04-10 13:31] #335 closed

[2016-04-10 14:16] XNoki200010 commented on #310
Same here.

Picture from a player: http://image.prntscr.com/image/f13e5e24c2c94c4ab87984b099ce903d.png

Because it happens random i can't set the debug mode to true :/
By me it happend when i tried to throw the rod. Or it happens maby when the rod breaks?

[2016-04-10 14:32] MedicOP opened #343 "Could not find valid metadata"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.4

### What version of Spigot are you using? Type /ver
git-Spigot-76236cb-62a2169 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins
EchoPet, DisguiseCraft, ProtocolLib, NoCheatPlus

### Are you using any additional software like BungeeCord? If so, what software and version

[2016-04-10 14:35] Matsv commented on #343
Do you use the 1.8 versions from Echopet and DisguiseCraft?

[2016-04-10 15:35] MedicOP commented on #343
Yes

[2016-04-12 21:00] Brandowizard opened #351 "Building"
### What version of ViaVersion are you using? Type /ver viaversion
ViaVersion version 0.7.4

### What version of Spigot are you using? Type /ver
CraftBukkit version git-Spigot-c3c767f-33d5de3 (MC: 1.8) (Implementing API version 1.8-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins
http://pastebin.com/stVWT8tC

### Are you using any additional software like BungeeCord? If so, what softw

[2016-04-12 21:04] #351 closed

[2016-04-13 12:59] Matsv commented on #329
I don't have this problem, does it still happen for you? If yes, can you please tell me when/how it happens?

[2016-04-13 13:19] Matsv commented on #331
/af create https://media.giphy.com/media/jG186kNLKs6TS/giphy.gif (with 128 & 6 item frames gives entity not found errors, mapmanager is trying to update non-existing entities (https://gyazo.com/3fde6ead3ea6f086acff5b3773849276))

But 4 item frames and the command without 128 worked without any error for me :)

Info:
PacketListenerAPI_v3.3.5.jar

[2016-04-13 13:21] Matsv commented on #331
Video: https://fileserver.matsv.nl/media?id=mapmanager

[2016-04-13 14:05] #338 closed

[2016-04-13 14:06] mat41997 commented on #331
ok, it work, thanks : >

[2016-04-13 14:06] MylesIsCool commented on #292
Should now be fixed.

[2016-04-13 14:06] #292 closed

[2016-04-13 14:06] #331 closed

[2016-04-13 15:03] rj0495 opened #352 "Signs sometimes don't render correctly with some ProtocolLib depending plugins"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.4
### What version of Spigot are you using? Type /ver
1.8.8
### What plugins are you using? Type /plugins
ViaVersion, ProtocolLib, Libsdisguises
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
Nope
### How does this error happen? login? Using an ite

[2016-04-13 15:04] Matsv commented on #352
I have the same problem on my server

[2016-04-13 15:05] rj0495 commented on #352
Matsv, It all started when @lenis0012 Changed the chunk sender

[2016-04-13 18:54] camdenorrb opened #353 "Non related to ViaVersion but can be fixed by them (I believe)"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.5
### What version of Spigot are you using? Type /ver
1.8.8
### What plugins are you using? Type /plugins
All custom plus via version
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
latest
### How does this error happen? login? Using an item?
No err

[2016-04-13 18:56] MylesIsCool commented on #353
We can't fix this. We live at a packet level, it's a known issue with Minecraft.

If you want to edit spigot or what to do it then sure. We have no plans to.

[2016-04-13 18:56] #353 closed

[2016-04-13 20:12] iLemon1 opened #354 "Player collision disabling doesn't work."
### What version of ViaVersion are you using? Type /ver viaversion
0.7.4
### What version of Spigot are you using? Type /ver
Paperspigot 1.8.8
### What plugins are you using? Type /plugins
n/a
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
LilyPad
### How does this error happen? login? Using an item?
Just doesn't work

[2016-04-13 20:15] Matsv commented on #354
Is autoteam enabled in the config?
[code]

[2016-04-13 20:20] iLemon1 commented on #354
Yep

`# Do you want us to prevent collision?
prevent-collision: true
# If the above is true, should we automatically team players until you do?
auto-team: true`

[2016-04-13 20:21] Matsv commented on #354
What plugins do you use?

[2016-04-13 20:22] iLemon1 commented on #354
![image](https://cloud.githubusercontent.com/assets/18317307/14508097/e2587620-01bd-11e6-9801-548f68790028.png)

[2016-04-13 20:24] Matsv commented on #354
@iLemon1 Can you maybe try if it happens without LilyPad?

[2016-04-13 20:26] iLemon1 commented on #354
Can't remove it, sorry.

[2016-04-13 20:46] Matsv commented on #354
Ok, I'll try to reproduce it tomorrow

[2016-04-14 00:06] Dann763 opened #355 "Can't interact with command blocks on a 1.8 server with 1.9 client"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.5
### What version of Spigot are you using? Type /ver
1.8
### What plugins are you using? Type /plugins
SkinsModule, Essentials, PermissionsEx, CrazyCore, CS-CoreLib, ViaVersion, NametagEdit, EssentialsSpawn, Prism, BanManager, BungeeTabListPlus, ProtocolLib, CrazyLogin, SlimeFun and HolographicDisplays.
### Are you using any a

[2016-04-14 06:52] Matsv commented on #355
Thanks for reporting, when I created this feature, I only checked 1.8-R3, you can fix this by updating to 1.8.8 or wait until I (or someone else) fixed this

[2016-04-14 07:14] TitanicFreak commented on #354
I can also confirm this, player collision is still an issue with LilyPad.

![1zpfnnpjim72rmjjlswds9vdlif5ubff](https://cloud.githubusercontent.com/assets/6857939/14519777/06b6a57e-01ef-11e6-90c4-99119424d582.png)

[2016-04-14 11:01] Matsv commented on #354
@MylesIsCool found out that there is a mistake in the LilyPad packets, https://github.com/LilyPad/GoLilyPad/blob/master/packet/minecraft/v19/clientTeams.go#L116

[2016-04-14 11:46] Matsv commented on #355
Fixed next version.

[2016-04-14 11:46] #355 closed

[2016-04-14 11:59] Matsv commented on #354
Update your lilypad

[2016-04-14 11:59] #354 closed

[2016-04-14 18:58] mat41997 opened #357 "close"
i'am sorry, false alarm

very, very epic plugin : )

thanks for all : >

[2016-04-14 21:02] #357 closed

[2016-04-15 00:10] ridalarry commented on #339
@JakeNelson1999 Plugins that could be the reason (I am using the other plugins with not bugs): TTA, HealthBar, NoRain, JoinMessagePlus, Modifyworld, RandomTP, WeatherRestrictions, AdvancedPortals, GrammarPlus, ObsidianBreaker, DeathMessages, WhatIsIt, CTSNC, EssentialsSpawn, floAuction, CombatTagPlus

Also for better bugs detection change debug=false to debug=true in server.propertise. After the r

[2016-04-15 00:17] ridalarry commented on #332
@MisterIdeas Try to remove skinsrestorer from bungeecord and skinsmoudle from spigot server and restart then check if the bug still exist, if it does try to test it on online mode.

Also for better bugs detection change debug=false to debug=true in server.propertise. Finally post the entire server log using pastebin.com

[2016-04-15 15:54] TheAgentCookie opened #358 "Bug with Brewing"
So there is a bug with this plugin on 1.9
Players cannot use brewing stands to make potions.
It doesnt work at all, i am getting several reports per day from the players on my server!
Please fix it as soon as possible
Best regards,
_TheAgentCookie

[2016-04-15 16:38] Matsv commented on #358
Please provide us with more information.
First of all, use the issue template: https://github.com/MylesIsCool/ViaVersion/blob/master/ISSUE_TEMPLATE.md
Second, does it only happen with some potions or does it happen with every potion?

I haven't seen any problems with it myself while testing.
Thanks

[2016-04-15 20:32] timr2000 opened #360 "Error fetching hand item"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.5
### What version of Spigot are you using? Type /ver
1.8.8 spigot
### What plugins are you using? Type /plugins

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

### How does this error happen? login? Using an item?
I dont know
### Is there an erro

[2016-04-15 21:17] MylesIsCool commented on #360
This is your server lagging. This is not a viaversion issue. Ensure you have 20 TPS, etc.

[2016-04-15 21:17] #360 closed

[2016-04-16 13:22] lenis0012 commented on #352
@rj0495 seems to be plugin related issue
can you try to narrow down which plugin causes it
this issue does not occur with ViaVersion only

[2016-04-16 22:13] ridalarry commented on #358
this issue is not happening with me

[2016-04-16 22:24] ridalarry commented on #343
@MedicOP are you using AAC or AntiAura?

[2016-04-16 23:09] MedicOP commented on #343
No, but I am using NoCheatPlus

[2016-04-17 04:34] TheAgentCookie commented on #358
Since I updated ViaVersion to 1.9 the issue seems to be resolved

[2016-04-17 04:34] #358 closed

[2016-04-17 09:23] MisterIdeas commented on #332
http://pastebin.com/v24Tk6yp

[2016-04-17 22:10] boomboompower commented on #317
@TheIntelloBox its not that hard to make :P

[2016-04-17 22:23] HeroCC commented on #317
Is it that he doesn't want to do it, or deems it unsafe?

[2016-04-17 23:36] MylesIsCool commented on #317
The reasons which I'm currently against this:

- If we deploy a bad build by accident, servers will instantly upgrade to it.
- This is a protocol modification, reloads are not good. It would require a reboot.
- Owners become less aware of changes / incompatibilities that could happen to their server.

[2016-04-18 08:30] rj0495 commented on #352
Packetlistenerapi is the best alternative to protocol lib and it works great with ViaVersion

[2016-04-18 11:22] boomboompower commented on #317
@MylesIsCool im kinda split on this, maybe instead of an 'Auto updater' have an update checker simply messaging the admins if they join (can be turned on and off in configuration file)

[2016-04-18 11:27] MylesIsCool commented on #317
@boomboompower Currently you do get notified of new versions, just no auto download

[2016-04-18 11:28] boomboompower commented on #317
@MylesIsCool ah, thanks for confirmation

[2016-04-18 11:49] MedicOP commented on #343
More info: The error message happens for different mobs, not just Creepers. It happens for squids, snowmen, etc. Still not sure what causes it

One thing though, no matter which mob is stated in the error, the OldId is always 12. Might be of interest?

[code]

[2016-04-18 18:07] TheAgentCookie opened #361 "Bug with versions"
So i found a bug with /viaversion list command. It actually shows wrong version as u can see in the screenshot below. I have joined my server with optifine mod.

http://imgur.com/3TYqaWJ

(I am using viaversion 0.7.6 (latest version on spigot)

[2016-04-18 19:48] MedicOP opened #362 "Nobody can login after server restart"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.5

### What version of Spigot are you using? Type /ver
This server is running CraftBukkit version git-Spigot-76236cb-62a2169 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins
DisguiseCraft, ProtocolLib, EchoPet, NoCheatPlus, ViaVersion

### Are you using any additional sof

[2016-04-18 20:27] MylesIsCool commented on #362
Have you tried without the other plugins?
Have you tried turning on debug=true in server.properties?

If the above work fine, have you considered this could be your connection.

[2016-04-18 20:41] MedicOP commented on #362
I've been running the same plugins and Spigot for a couple of months already, this particular issue only arised after I installed ViaVersion, so I'm pretty sure it's caused by it.

It can't be a connection problem because as soon as I restart the server again, the problem is fixed and players come flooding in in a matter of seconds.

[2016-04-18 21:20] MylesIsCool commented on #362
@MedicOP Can you try without other plugins as I said, I don't ask this so you can blame Via, because with what you given it does sound like Via related but another plugin obviously conflicts with it and I would like to know.

[2016-04-19 07:36] ridalarry commented on #362
@MedicOP try without DisguiseCraft because I have all the other plugins in my server without any bugs also make sure that you have late-bind=false in spigot.yml

[2016-04-19 07:45] ridalarry commented on #361
I have the same issue, its showing that all 1.8 client as 1.9.2 clients. I think its saving the client data on join if the player joined with 1.9.2 it will consider him on 1.9.2 all the time

[2016-04-19 08:41] xion87 commented on #329
same problem here
http://i.imgur.com/1S8eksI.png
http://i.imgur.com/71XyFNr.png
he is using 1.9.2 but he don't have 2 item, only one

[2016-04-19 12:45] Matsv commented on #329
@xion87 What plugins do you use?

[2016-04-19 12:58] Matsv commented on #329
I was able to reproduce this with Multiverse-Core. Fixed next version #363

[2016-04-19 12:58] #329 closed

[2016-04-19 13:31] xion87 commented on #329
i was not using multiverse core

[2016-04-19 13:32] xion87 commented on #329
CleanroomGenerator, WorldEdit, SQLibrary,
[0;32;1mViaVersion, BungeePerms, Vault, PlayerPoints, ForceSpawn, ProtocolLib, WorldGuard, LibsDisguises, TitleManager, HideAndSeek>

[2016-04-19 13:40] Matsv commented on #329
@xion87 Can you try if the error still occurs with this version? http://fs.matsv.nl/files/ViaVersion-0.7.7-SNAPSHOT.jar

[2016-04-19 13:42] xion87 commented on #329
i will try when i am at home :)

[2016-04-19 13:44] Matsv commented on #329
@xion87 Thanks :+1:

[2016-04-20 16:06] Kiryushaz opened #364 "Disconnecting by pressing "F""
ViaVersion 0.7.7 (Not snapshot!)

This server is running CraftBukkit version git-Spigot-db6de12-18fbb24 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

Plugins (10): PermissionsEx, SkinsRestorer, ViaVersion, Vault, ProtocolLib, NoCheatPlus, Essentials, EssentialsSpawn, EssentialsChat, AuthMe

Not using BungeeCord.

Pressing "F" (move the item from the right hand to the left) disconnect

[2016-04-20 16:15] Matsv commented on #364
Thanks for reporting, fixed next version #365

[2016-04-20 16:15] #364 closed

[2016-04-20 17:57] Kiryushaz commented on #364
@MylesIsCool Thanks for fix ViaVersion

[2016-04-20 18:57] XNoki200010 opened #366 "CancelException"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.7
### What version of Spigot are you using? Type /ver
newst spigot
### What plugins are you using? Type /plugins
my own ReplaySystem
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
nope
### How does this error happen? login? Using an item?
For examp

[2016-04-20 19:50] MylesIsCool commented on #366
You're overriding netty wrong.

[2016-04-20 19:53] XNoki200010 commented on #366
Without ViaVersion are no problems.

How is the right way to override netty and stay compatible with ViaVersion?

[2016-04-20 20:09] MylesIsCool commented on #366
Yes because you're implementing your handlers wrong.

You need to make sure that you're injecting it right and not overriding exceptionCaught and causing it to throw.

[2016-04-21 14:30] MrBrikster opened #367 "Random disconnects"
Version of plugin - 0.7.5

Spigot version: "This server is running CraftBukkit version git-Spigot-e4d4710-e1ebe52 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)"

Plugins: PlayerHeads, MMCases, WorldEdit, SkinsModule, EmptyGenerator, CommandsDispatcher, ClearLag, PluginManagerReloaded, AutoMessage, Chairs, WorldBorder, RandomTP, TeleportSigns, WorldGuard, Multiverse-Core, NoCheatPlus,

[2016-04-21 14:31] Matsv commented on #367
Duplicate of: #364
It's fixed next version :)

[2016-04-21 14:38] MrBrikster commented on #367
Sorry, but there are disconnects are randomly, not on pressing key "F". Also, there are no errors in logs.

[2016-04-21 15:25] Matsv commented on #367
Please try the latest viaversion

[2016-04-21 15:29] #293 closed

[2016-04-21 15:30] MylesIsCool commented on #296
Closing since no reply.

[2016-04-21 15:30] #296 closed

[2016-04-21 15:30] MylesIsCool commented on #310
Renamed, this happens randomly.

[2016-04-21 15:32] MylesIsCool commented on #339
Are you sure you aren't using BungeeCord? We've discovered an issue in the rewriting with bungee which can cause this. Going to close since no reply in almost 2 weeks. (Reply with details for reopen)

[2016-04-21 15:32] #339 closed

[2016-04-21 15:33] MylesIsCool commented on #333
No reply since 2 weeks, closing. If you're still experiencing this follow steps above and provide more info.

[2016-04-21 15:33] #333 closed

[2016-04-21 15:36] MylesIsCool commented on #332
Ensure all your plugins are up to date, this is not a ProtocolLib issue it will be down to a plugin that uses. I'd suggest removing plugins until you can't replicate so you can work out which it is.

[2016-04-21 15:36] MylesIsCool commented on #271
Labelled as this for now, as really it's not game breaking.

[2016-04-21 15:36] #271 closed

[2016-04-21 15:37] MylesIsCool commented on #361
If anyone has a valid guide to replicate 100% of time it would be useful :)

[2016-04-21 16:04] MrBrikster commented on #367
I am now using latest version. About 3 minutes ago I got disconnect with old error (http://imgur.com/1Rxq7hY). Version of minecraft: 1.9.2). Thanks.

[2016-04-21 16:35] jooster11 opened #368 "Random disconnect [1.8+] Clients"
Using the last version (0.7.8)

1.8.8-R0.1-Snapshot (243 versions behind)

### What plugins are you using? Type /plugins

Using the last bungeecord update from 11 April.

Since today random people kicked out of the server with the reason: [Proxy] Lost connection to the server. We've already looked into our bungeecord but there is nothing wrong with it. Only our main-lobbies are running currently t

[2016-04-21 16:48] Matsv commented on #367
Thank you. Could you try turning on debug=true in server.properties? If there is something after that in the console, could you please post it here? :)

[2016-04-21 16:49] Matsv commented on #368
Hm maybe the same issue as #367, could you please follow the issue template and post your plugins.

[2016-04-21 17:45] MrBrikster commented on #367
OK, debug is now true. I will post all errors.

[2016-04-21 17:51] MrBrikster commented on #367
Hm... I got the error:
[code]

[2016-04-21 17:59] MylesIsCool commented on #367
Try without plugins and see if it still happens primarily skin restorer.

[2016-04-21 18:13] MrBrikster commented on #367
I am now trying without Skinsrestorer skinsmodule for bukkit (skinsrestorer is working, but some functions are disabled)

[2016-04-21 19:01] fabien91 commented on #368
Hi,
Random people are disconnect on my server with this message since the last update of viaversion

![randomdisconnect](https://cloud.githubusercontent.com/assets/5675697/14720961/2853ef46-0804-11e6-8e64-934eb673394a.jpg)

[2016-04-21 19:33] MylesIsCool commented on #368
@fabien91 Can you post plugin list etc.

[2016-04-22 00:58] TheTonyk commented on #326
I've the same bug, on usage of PlayerInteractEntityEvent, message is sended two times. (ViaVersion 0.7.7, PaperSpigot 1.8.8 4c7641d, ProtocolLib and my own plugins)

Thanks

[2016-04-22 01:05] TheTonyk opened #369 "The Armor Stands custom names appears 1 block too high"
### What version of ViaVersion are you using? Type /ver viaversion

ViaVersion 0.7.7

### What version of Spigot are you using? Type /ver

PaperSpigot-4c7641d (MC: 1.8.8)

### What plugins are you using? Type /plugins

ProtocolLib, ViaVersion, My own plugin

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

BungeeCord 1

[2016-04-22 01:11] TheTonyk commented on #369
Update: After a few tests, when we summon small Armor Stands, Custom Name is displayed like normal Armor Stand. I think it will not be hard to fix :D

[2016-04-22 01:17] TheTonyk opened #370 "The version of each player is not updated when player switch from 1.9 to 1.8"
### What version of ViaVersion are you using? Type /ver viaversion

ViaVersion 0.7.7

### What version of Spigot are you using? Type /ver

PaperSpigot-4c7641d (MC: 1.8.8)

### What plugins are you using? Type /plugins

ProtocolLib, ViaVersion, My own plugin

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

BungeeCord 1

[2016-04-22 07:14] Matsv commented on #369
This is already a feature :)
Enable hologram-patch=true in the config

[2016-04-22 07:14] #369 closed

[2016-04-22 07:16] Matsv commented on #370
Same problem as #361, but thank you for the clear explanation how to reproduce it!

[2016-04-22 08:02] TheTonyk commented on #369
Oh, my bad, sorry !

[2016-04-22 09:25] fabien91 commented on #368
@MylesIsCool
![pl](https://cloud.githubusercontent.com/assets/5675697/14737543/e57b0d66-087c-11e6-8ff5-b5f6865bc849.png)

[2016-04-22 12:09] TheAgentCookie opened #371 "Undropapble items for 1.9.x players"
I found another bug of this plugin,
Players from 1.9.x clients cannot drop items with "q"
I am using the latest version of the plugin (0.7.8)

[2016-04-22 12:27] MylesIsCool commented on #371
Have you ensured you're using 0.7.8? I can do it fine locally.

[2016-04-22 12:28] MrBrikster commented on #367
It's not SkinsRestorer. I started server with SkinsRestorer without another plugins. I didn't disconnected.

[2016-04-22 12:29] MylesIsCool commented on #370
Fixed in next version.

[2016-04-22 12:29] #370 closed

[2016-04-22 12:29] MylesIsCool commented on #361
Fixed in next version.

[2016-04-22 12:29] #361 closed

[2016-04-22 12:30] TheTonyk commented on #370
Thanks !

[2016-04-22 12:31] MylesIsCool commented on #367
@MrBrikster Just because you tried with it on it's own doesn't mean there isn't a compatibility issue which means ViaVersion will work without it.

ViaVersion allows a whole separate version which SkinRestorer modifies it at a Bungee level some of the time (depending on your setup.). Hence me asking you to try without it.

[2016-04-22 12:31] MylesIsCool commented on #368
@fabien91 Are you using BungeeCord

[2016-04-22 13:54] MrBrikster commented on #367
No... I removed SkinsRestorer from bungee and SkinsModule and got disconnect.

[2016-04-22 14:17] fabien91 commented on #368
@MylesIsCool yes

[2016-04-22 14:26] MylesIsCool commented on #368
@fabien91 There is a bungeecord bug I'm hoping to get patched to do with arrows crashing players on certain worlds, just waiting for it to be pulled.

[2016-04-22 14:32] fabien91 commented on #368
Ok thank's

[2016-04-22 15:19] MrBrikster commented on #367
I think, the problem is holographicdisplays. I try to remove it.

[2016-04-22 16:32] MrBrikster commented on #367
Ooo... without holographic displays there are disconnects too.

[2016-04-22 22:49] ArmaCell opened #372 "ViaVersion, error, slow tping, timed out"
###  Version:
ViaVersion v0.7.8
git-Spigot-5f38d38-18fbb24 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

###  Plugins (76):
AcceptRules, PlayerFreeze, LampControl, BarAPI, GroupManager, TuxTwoLib, PlugMan, Pl3xMOTD, Trading, FarmProtect, SpectatorDisabler, SkinsRestorer, HorseTpWithMeBeta4, PlusOne, AntiJoinBot, ViaVersion, ArmorWeight, AsyncWorldEditInjector, CoreProtect, WorldEdit,

[2016-04-23 03:37] TheAgentCookie commented on #371
Yes 100%

[2016-04-23 06:42] MylesIsCool commented on #372
You're using an outdated version. Update. Otherwise if you still experience latency after, this may not be our fault, consider using /timing to work out the cause.

[2016-04-23 06:43] MylesIsCool commented on #371
Then can you actually fill out the issue template properly. (https://github.com/MylesIsCool/ViaVersion/blob/master/ISSUE_TEMPLATE.md) Nobody else has reported this issue, also version 0.7.9 was also released so make sure you updated.

[2016-04-23 09:23] MrBrikster commented on #367
I have a plugin, which add prefix to nick above player's head. Can it make disconnects?

[2016-04-23 14:54] MrBrikster commented on #367
OK, thanks! A plugin "LobbyParkour" made disconnects.

[2016-04-23 15:54] Dinfyru commented on #326
On my server the same problem.

[2016-04-23 16:46] xXAndrew28Xx opened #373 "[Suggestion] Allow Offhand for Client only"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.9
### What version of Spigot are you using? Type /ver
git-Spigot-fdc1440-53fac9f
I am coding a 1.9 Kit PVP system and want a HUD system using items retextured and remodeled inside the offhand slot. I am using 1.8.8 because my network plugins that do permissions and other basics. I have ViaVersion to allow 1.9 players to join bu

[2016-04-23 16:52] xXAndrew28Xx commented on #373
**NEVER MIND, this behavior on happens in creative**

[2016-04-23 16:52] #373 closed

[2016-04-23 19:33] MylesIsCool commented on #372
Going to close see above.

[2016-04-23 19:33] #372 closed

[2016-04-23 19:35] MylesIsCool commented on #366
Going to close, if you need help. Feel free to send me your code and I'll attempt to aid to somewhat with compatibility. (I just need netty handlers etc)

[2016-04-23 19:35] #366 closed

[2016-04-23 23:41] MylesIsCool commented on #368
https://github.com/SpigotMC/BungeeCord/commit/0b554be10adc4b19f1a08cf29017ef5d7ff26395

New version should fix random DCs on for 1.8 clients.

[2016-04-24 02:46] AdminZero commented on #352
I too have this error and it dont let me signs render this is a MAJOR issue can you please fix ASAP... :)

ViaVersion 0.7.9
Spigot 1.8.8

Is what im using.... and still seems to be and issue!

[2016-04-24 07:21] steven30303 commented on #310
glpop

[2016-04-24 07:21] steven30303 commented on #310
oeps sorry

[2016-04-24 11:58] Laos1996 opened #375 "1.9 Clients having advantages on 1.8 server"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.9
### What version of Spigot are you using? Type /ver
git-Spigot-db6de12-18fbb24 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)
### What plugins are you using? Type /plugins
https://gyazo.com/564110092ba94d06b1d6d033075d750e
### Are you using any additional software like BungeeCord? If so, what software and version?

[2016-04-24 12:02] Matsv commented on #375
First issue: Enable auto-team and prevent-collision in the config.
Second issue: Hm I'll try that out, would be strange because the shield is only client-sided.

[2016-04-24 12:08] Laos1996 commented on #375
I have both options enabled.

[2016-04-24 12:09] Matsv commented on #375
@Laos1996 Are you using the latest Bungeecord version?

[2016-04-24 12:10] Laos1996 commented on #375
Well I see latest build was 10 hours ago, I am using build from 3 days ago.

[2016-04-24 12:19] Matsv commented on #375
Second issue doesn't happen to me (https://fs.matsv.nl/media?id=effb07dd7b701c93f94c2351abb465eb)
Are you sure that it did happen on your server or did people think that it'd block arrows?

[2016-04-24 12:47] MylesIsCool commented on #375
Shields are client side, they don't give any advantage, it's the same as blocking.

[2016-04-24 17:24] #367 closed

[2016-04-25 01:17] UltraX3 commented on #321
I want to say it is a plugin, but I disabled every plugin and the error keeps on coming. However, I do have ViaVersion running on another server and I don't see any errors so I don't know at this point. What should I do?

[2016-04-25 07:58] rj0495 commented on #352
@lenis0012 It happens with ProtocolLib and MVDWPLACEHOLDERS loaded.
On 24 Apr 2016 03:46, "AdminZero" <notifications@github.com> wrote:

[2016-04-25 12:18] MylesIsCool commented on #362
Closing as it seems no reply, if you're having an issue similar remove other plugins to find which one conflicts with ViaVersion and get back to us.

[2016-04-25 12:18] #362 closed

[2016-04-25 21:01] wow4201 commented on #368
0.7.9
BungeeCord 1150 (Latest)

Every 5 minutes or so

_13:54:14 [SEVERE] [NoHaxJustNormal] <-> DownstreamBridge <-> [factions18] - encountered exception
io.netty.handler.codec.DecoderException: java.lang.IndexOutOfBoundsException: readerIndex(0) + length(1) exceeds writerIndex(0): SlicedAbstractByteBuf(ridx: 0, widx: 0, cap: 0/0, unwrapped: PooledUnsafeDirectByteBuf(ridx: 2, widx: 2, cap: 112))

[2016-04-25 21:03] MylesIsCool commented on #368
@wow4201 First, use pastebin. Second you're using a plugin that is doing something wrong it looks like.

[2016-04-25 21:12] wow4201 commented on #368
http://pastebin.com/QiXjZL7d

Why does it look like that?

[2016-04-25 21:13] MylesIsCool commented on #368
@wow4201 " Second you're using a plugin that is doing something wrong it looks like. ", usually means your using a plugin that modifies packet data and doesn't let it cancel properly.

[2016-04-25 21:16] wow4201 commented on #368
Is it possible to know what packet ENUM it's modifying based on that pastebin?

[2016-04-25 21:24] MylesIsCool commented on #368
@wow4201 No, but if you can replicate with 1 player on localhost, /viaver debug will usually help.

[2016-04-26 13:15] fabien91 commented on #326
Yes, i confirm this, i've the same bug on my server.

[2016-04-27 16:03] fabien91 opened #376 "Internal Error with /viaversion pps"
### What version of ViaVersion are you using? Type /ver viaversion
Last version 0.7.9

### What version of Spigot are you using? Type /ver
This server is running CraftBukkit version git-Spigot-fdc1440-53fac9f (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins
![pl](https://cloud.githubusercontent.com/assets/5675697/14737543/e57b0d66-087c-11e6-

[2016-04-27 16:15] MylesIsCool commented on #376
Will be fixed in next version.

[2016-04-27 16:15] #376 closed

[2016-04-27 16:15] #375 closed

[2016-04-27 16:15] MylesIsCool commented on #368
Closing, if you have same issue open a new ticket.

[2016-04-27 16:15] #368 closed

[2016-04-27 16:16] MylesIsCool commented on #332
Closing, if you have this issue open new ticket.

[2016-04-27 16:16] #332 closed

[2016-04-27 17:05] DatRobinPlays opened #377 "- 0.7.9"
### What version of ViaVersion are you using? Type /ver viaversion

### What version of Spigot are you using? Type /ver

### What plugins are you using? Type /plugins

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

### How does this error happen? login? Using an item?

### Is there an error in the console? Use pasteb

[2016-04-27 17:15] DatRobinPlays opened #378 "Really Bad Servercrash-Bug"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.9
### What version of Spigot are you using? Type /ver
1.8.8
### What plugins are you using? Type /plugins
too much (65 ^^)
**EDIT:** ![Plugins](https://cloud.githubusercontent.com/assets/18705052/14863727/382b0118-0cb7-11e6-9855-22159e517b64.png)
### Are you using any additional software like BungeeCord? If so, what software an

[2016-04-27 17:16] DatRobinPlays commented on #378
PLEASE FIX IT ^^

[2016-04-27 17:21] #377 closed

[2016-04-27 17:22] MylesIsCool commented on #378
Elytras aren't implemented, we suggest not trying to use them.

[2016-04-27 17:23] DatRobinPlays commented on #378
the problem is my plotworld (datrobinplays.de)

[2016-04-27 17:29] DatRobinPlays commented on #378
Will you fix it very soon, please?

[2016-04-27 17:55] MylesIsCool commented on #378
Can't replicate. Perhaps it'd be useful if you weren't lazy and actually filled in the plugin list so we can attempt to find the cause, or provide an error from the server.

[2016-04-27 18:01] DatRobinPlays commented on #378
Pls join my server in the next 5 minutes. You can look yourself. DatRobinPlays.de

[2016-04-27 18:19] Matsv commented on #378
We can't help you if you don't give us more information, for example, plugins, crash reports, server log etc.

[2016-04-27 18:21] DatRobinPlays commented on #378
Because of this I told you to Come to my server^^ (65 plugins is a Lot to write down)

[2016-04-27 18:22] Matsv commented on #378
We sadly need more then only plugins to be able to help you, you can make a screenshot of your plugins? :wink:

[2016-04-27 18:22] HunterGPlays commented on #378
Do /plugins and take a screenshot

-----Original Message-----
From: "DatRobinPlays" <notifications@github.com>
Sent: ‎27/‎04/‎2016 07:21 PM
To: "MylesIsCool/ViaVersion" <ViaVersion@noreply.github.com>
Subject: Re: [MylesIsCool/ViaVersion] Really Bad Servercrash-Bug (#378)

Because of this I told you to Come to my server^^ (65 plugins is a Lot to write down)
—
You are receiving this because you are

[2016-04-27 18:24] DatRobinPlays commented on #378
Can you add me pls on Skype for faster contact?  Haehnchenkeulenserver. Dont forget the second h.

[2016-04-27 18:33] DatRobinPlays commented on #378
![2016-04-27_20 31 08](https://cloud.githubusercontent.com/assets/18705052/14863727/382b0118-0cb7-11e6-9855-22159e517b64.png)
ok, I'll try to do the error again ^^ :(

[2016-04-27 18:40] DatRobinPlays commented on #378
...Tomorow: my PC is 'glitching :I

[2016-04-27 23:31] wow4201 commented on #352
Can someone explain MVDWPLACEHOLDERS /sign glitch? Just don't want to encounter this bug, sounds bad.

[2016-04-27 23:52] TheTonyk commented on #326
Not any news from dev's ?

[2016-04-28 09:07] melerpe opened #379 "Viaversion + Animated Frames [Maps don't work in 1.9]"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.9
### What version of Spigot are you using? Type /ver
1.8.8
### What plugins are you using? Type /plugins

![](https://i.gyazo.com/9a15179a5b5a78a73b969873b38011bf.png)

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
No bungee, newest of all
### Ho

[2016-04-28 09:09] melerpe commented on #379
I think its viaversion because on a test server, tested both 1.8 and 1.9 and it worked just fine

[2016-04-28 12:28] melerpe opened #380 "Signs"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.9
### What version of Spigot are you using? Type /ver
1.8.8
### What plugins are you using? Type /plugins

![](https://i.gyazo.com/9a15179a5b5a78a73b969873b38011bf.png)

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
No bungee
Newest of all plugins

[2016-04-28 12:44] MylesIsCool commented on #326
There is currently no decent fix to this that does not break functionality with chests. If anyone else wants to attempt to fix, feel free.

[2016-04-28 14:27] Matsv commented on #380
Duplicate of #352

[2016-04-28 14:27] #380 closed

[2016-04-28 15:28] melerpe commented on #380
MVDWPLACEHOLDERS is not used, so this is not really a duplicate i think!
This happens randomly with every sing on 1.9.

[2016-04-28 15:29] Matsv commented on #380
Also happens with ProtocolLib, title was wrong.

[2016-04-29 02:17] StarDan90 opened #381 "Boats on 1.8 server move as in 1.9 with a 1.9 client"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.9
### What version of Spigot are you using? Type /ver
1.8
### What plugins are you using? Type /plugins
http://pix.toile-libre.org/upload/original/1461893351.png
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
1.9 BungeeCord. SkinsRestorer and Bunge

[2016-04-29 07:02] Matsv commented on #381
Duplicate of #196. This issue is because mojang made in 1.9 boat/horse riding client-sided. I tried some things to make it sync, but everything i tried would make it look bad/laggy (because of 1 tick delay/ping delay) on 1.8 or 1.9. I'll close this issue because it's a duplicate, follow #196 for progress updates on this topic

[2016-04-29 07:03] #381 closed

[2016-04-29 09:17] Matsv commented on #379
Does it work in 1.8? I have no problems with it both versions

[2016-04-29 17:01] Matsv commented on #371
Closing this because you didn't respond.

[2016-04-29 17:01] #371 closed

[2016-04-29 22:19] melerpe commented on #379
also happens on 1.8

[2016-04-30 00:25] AdminZero commented on #352
So I need ProtocolLib... what can you do to make it work?

[2016-04-30 09:29] MedicOP commented on #343
I've identified the problem to be caused by DisguiseCraft. When you disguise as for example a Creeper, immediately the error is spammed a few times in the console.

The disguise works fine and other people can see it, but the error is spammed.

[2016-04-30 09:36] Matsv commented on #343
@MedicOP you can change the config option suppress-metadata-errors, that will stop the error from displaying in console

[2016-04-30 09:52] MedicOP commented on #343
Okay, is the error itself an issue or does it not affect performance?

[2016-04-30 09:58] Matsv commented on #343
Well it's an issue from one of you plugins (probably libsdiguises) that's sending non-existing metadata, viaversion is removing those non-existing fields and notifying the server about it by sending error messages, it could ofcourse affect performance if the console get spammed every tick if you are sending invalid metadata. That's why the config option is there :smile:

[2016-04-30 09:59] MedicOP commented on #343
Okay thank you

[2016-04-30 10:01] Matsv commented on #379
ViaVersion is not changing the packets for 1.8 clients. I don't think ViaVersion is causing this, please make sure you update all your plugins to the latest 1.8 version

[2016-04-30 11:32] MLGProCookie opened #382 "getClickedInventory is null on InventoryClickEvent"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.9
### What version of Spigot are you using? Type /ver
This server is running CraftBukkit version git-Spigot-db6de12-18fbb24 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)
### What plugins are you using? Type /plugins
WorldEdit, EmptyWorldGenerator, FactionsCore, PlaceholderAPI, PermissionsEx, ViaVersion, Vault, Mass

[2016-04-30 11:42] #343 closed

[2016-04-30 15:15] catdisc6491 opened #383 "1.8.8: Spigot's anti-Xray and Orebfuscator do not obfuscate blocks for 1.9.x clients"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.9
### What version of Spigot are you using? Type /ver
Spigot 1.8.8-R0.1
### What plugins are you using? Type /plugins
FancyShop, KeepItems, TerrainControl, BarAPI, NoDupe, Buycraft, DisableCommands, SignExploitBlocker, Nicky, VoxelSniper, ViaVersion (duh), LightAPI, AsyncWorldEdit, Dynmap, Deadbolt, WorldEdit, Skript, ClearLag,

[2016-04-30 19:50] MylesIsCool commented on #382
This slot is not real, totally client side. I'm thinking we need to possibly ensure the click event is totally cancelled.

[2016-04-30 21:47] melerpe commented on #379
Fixed, didnt do anything.The only thing that happen was that the vps got a restart

[2016-04-30 21:49] Matsv commented on #379
Great to hear that :smile:

[2016-04-30 21:49] #379 closed

[2016-05-01 15:43] Matsv commented on #382
The getClickedInventory is always null when you drop items, ofcourse a better fix for the new slot would be instead of throwing the item, preventing the user to put it into that slot, (How it looks when you cancel InventoryClickEvent)

[2016-05-01 19:23] xion87 opened #384 "random kicks"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.9
### What version of Spigot are you using? Type /ver
1.8.9
### What plugins are you using? Type /plugins

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

### How does this error happen? login? Using an item?
randomly
### Is there an error in the c

[2016-05-01 21:00] MylesIsCool commented on #384
You didn't fill out the section on plugins / if you're using bungee.

How often is randomly also.

[2016-05-01 21:17] xion87 commented on #384
I am using under bunee servers,  it appen in random occasions example in hub or factions
hub

[23:15:12 INFO]: Plugins (28): CleanroomGenerator, MinecraftMarket, WorldEdit, DoubleJump, Skript, SkinsModule, ChatControl, Janus, BungeePerms, TeleportSigns, BungeePlayerCounter, WorldGuard, PlayerVisibility, Nicky, DuckSuiteTeleports, ;
32;1mSQLibrary, ViaVersion, Vault, TitleManager, DuckSuiteHomes, P

[2016-05-01 22:33] DataPools opened #385 "Splash Water Bottle in place of water breathing potion"
### What version of ViaVersion are you using? Type /ver viaversion
0.7.9
### What version of Spigot are you using? Type /ver
PaperSpigot 1.8.4
### What plugins are you using? Type /plugins
EssentialsX, ViaVersion
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
N/A
### How does this error happen? login? Using an item?
W

[2016-05-03 13:46] xion87 commented on #384
I noticed there are also some user that are unable to connect to my login server giving him this error (on bungee side)
http://hastebin.com/gayihilago.sm

Login server error:
http://hastebin.com/fasimesapo.avrasm

[2016-05-03 13:49] MylesIsCool commented on #384
@xion87 For the login server issue, enable debug=true in server.properties then post error which has the message to post to github.
Thanks

[2016-05-03 14:12] xion87 commented on #384
not sure if is related, i enabled debug and i got these errors
http://hastebin.com/ibolazowew.vbs

[2016-05-03 14:15] MylesIsCool commented on #384
@xion87 Ignore them, every disconnect has a reason, i.e network cable being unplugged causing said thing. You need to look for ones with ViaVersion in them

[2016-05-03 15:46] xion87 commented on #384
gotcha
http://hastebin.com/sejiqazeno.pas
and this
http://hastebin.com/elegequlig.avrasm

[2016-05-03 15:55] MylesIsCool commented on #384
@xion87 Test without SkinsModule

[2016-05-03 15:56] xion87 commented on #384
skin module is installed on the hub, not in login server

[2016-05-03 15:59] MylesIsCool commented on #384
@xion87 The errors you posted are in relation to something sending invalid skin data / tab list data.
(Skins are sent through the same system as the tab list.)

[2016-05-03 16:04] xion87 commented on #384
i tried to remove it from the hub and restart both the server, let see if happen it again

[2016-05-03 16:08] xion87 commented on #384
same http://hastebin.com/ijoxurulok.avrasm

[2016-05-03 17:27] xion87 commented on #384
Maybe is related to mojang change and player reported me to don't have skin and viaversion kick them... i tried to log in my server with that nick, and i have the same error

[2016-05-03 17:52] adamk523 commented on #383
Any ideas why blocks aren't becoming obfuscated properly for 1.9 clients? I don't want to have to drop 1.9 support for my server, because word's starting to get out about the lack of anti-Xray for 1.9 and I've been going crazy monitoring everyone for days now...

[2016-05-03 17:54] catdisc6491 commented on #383
Any ideas about why ores aren't getting obfuscated for 1.9 clients? I really don't want to have to drop 1.9 support for my server, but word's getting out about the lack of anti-Xray for 1.9 hacked clients and I've been going crazy the past few days trying to monitor everyone...

[2016-05-03 23:11] MylesIsCool commented on #383
@catdisc6491 The simple answer is there's no easy way to fix this. Originally we did have X-ray support but then the chunk system got rewritten. But the disadvantage was it broke timings, and paper spigot by default has timings on so we'd spam consoles.

[2016-05-03 23:59] Th3Tr0LLeR commented on #384
@xion87 Try to remove SkinsRestorer for your bungeecord network.

[2016-05-04 00:18] xion87 commented on #384
i removed skinrestorer, and now i can login with the player that got issue

[2016-05-04 00:21] Th3Tr0LLeR commented on #384
@MylesIsCool  It could be my mistake, but i believe i am sending the data in right way. If not please tell/help me with fixing that.

@xion87 Thanks for reporting that.

[2016-05-04 00:23] xion87 commented on #384
i reputed skinrestorer and when i log that player it give this
http://i.imgur.com/WTXYDXg.png
@Th3Tr0LLeR  i will be happy to help you both ^^

[2016-05-04 02:12] Brokkonaut opened #386 "[delete]"
[delete]

[2016-05-04 02:13] #386 closed

[2016-05-04 14:18] MylesIsCool commented on #385
This potion doesn't technically exist in 1.9, you're using the wrong ID. You're making a potion with Tier II breathing, which is not possible in vanilla and does not exist in 1.9.

See http://minecraft-ids.grahamedgecombe.com/potion-calculator, I'd suggest changing the IDs on your signs to 16397.

I'm unsure if we'll fix this because even if we did, the potion would still have incorrect data when

[2016-05-04 14:46] MylesIsCool commented on #382
Going to close for now, as this is normal behaviour. We may revisit how denying of the slot works or what, but for now dropping the item is the best approach due to otherwise requiring a more complex system of using transaction packets.

[2016-05-04 14:46] #382 closed

[2016-05-04 15:22] catdisc6491 commented on #383
@MylesIsCool That's a bummer. Is it possible to add a config value in ViaVersion to obfuscate or not? I would be very willing to break timings in order to keep the server legit.

Thanks very much for the plugin and reply as well, it's been amazing to see all the old members who didn't like version switching starting to return. :)

[2016-05-04 16:32] Kiryushaz opened #388 "Disconnected from server"
### What version of ViaVersion are you using? Type /ver viaversion
0.8.0-SNAPSHOT Build 111

### What version of Spigot are you using? Type /ver
This server is running CraftBukkit version git-Spigot-e6f93f4-ed60c01 (MC: 1.9.2) (Implementing API version 1.9.2-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins
Plugins (10): PermissionsEx, SkinsRestorer, ViaVersion, Vault, ProtocolLib, NoC

[2016-05-04 16:40] Matsv commented on #388
You can use a 1.8 server and allow 1.9 and 1.9.1/1.9.2 to connect.
You can use a 1.9 server and allow 1.9.1/1.9.2 to connect. (Spigot recently patched to do this, so not much point!)

At the moment this plugin doesn't work with spigot 1.9.2

[2016-05-04 17:03] Kiryushaz commented on #388
Not work.
This server is running CraftBukkit version git-Spigot-d20369f-7fc5cd8 (MC: 1.9) (Implementing API version 1.9-R0.1-SNAPSHOT)

[2016-05-04 17:03] Matsv commented on #388
What does not work?

[2016-05-04 17:05] MylesIsCool commented on #388
The compatibility patch spigot did in 1.9.1 broke it.
It's not really worth using it for 1.9.1 + 1.9.2 support, just use latest spigot.

[2016-05-04 17:21] #388 closed

[2016-05-04 19:21] DataPools commented on #385
Couldn't ViaVersion have items with that specific ID for 1.9 clients changed to the correct ID for 1.9?

I'm not sure if that ID works for 1.8

[2016-05-05 16:08] Matsv commented on #378
@DatRobinPlays Are you still having this issue?

[2016-05-05 17:34] DatRobinPlays commented on #378
I have completely servrr buggs - my bungeecord unhooks randomly from my
mainserver. I have to fix this First.
Am 05.05.2016 18:08 schrieb "Mats" <notifications@github.com>:

[2016-05-06 13:39] EvilOlaf commented on #383
So if this affects PaperSpigot only this could be made togglable?

[2016-05-07 19:59] xXAndrew28Xx commented on #244
Still persists in 0.7.9 for me.

[2016-05-07 20:09] Matsv commented on #244
@xXAndrew28Xx #326

[2016-05-08 12:35] Matsv commented on #196
Ok I just checked the 1.9 changes in boats and found this
that they disabled the sprinting while riding a boat making it go faster in snapshot 15w41a
then they have made the speed of the boat slightly faster than sprinting in snapshot 15w42a
so if a player on 1.8 try to sprint while being in the boat it will be nearly same speed as a player on 1.9 riding a boat

[2016-05-08 15:33] MylesIsCool commented on #385
Going to close this as you shouldn't ever have this potion in Minecraft, the change as suggested in my post above does work fine.

[2016-05-08 15:33] #385 closed

[2016-05-08 18:36] Matsv commented on #326
Fixed next version #390

[2016-05-08 18:36] #326 closed

[2016-05-09 16:49] xion87 commented on #384
any news about this issue?

[2016-05-09 17:02] MylesIsCool commented on #384
This is a plugin compatibility issue it looks like or there is some way to replicate, without you being able to remove plugins and see when it crashes or what or if it doesn't crash without bungee, it won't get solved. (unless someone else has the issue.)

[2016-05-10 10:32] TheIntelloBox opened #392 "1.9.4 support"
### What version of ViaVersion are you using?

8.0.0

### What version of Spigot are you using?

1.8.8

### What plugins are you using?

Via Version

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

No

Hi,

Can you add 1.9.4 support ?

[2016-05-10 10:53] MylesIsCool commented on #392
Please consider testing before making issues as it wastes our time.

1.9.4 is compatible.

[2016-05-10 10:53] #392 closed

[2016-05-10 15:20] xion87 commented on #384
I removed viaversion, still having the issue, i will try to check other bungee plugin/skin restorer and update bungeecord... you can close the ticket since is not a viaversion bug... sorry >.<

[2016-05-10 15:22] #384 closed

[2016-05-10 15:23] MylesIsCool commented on #378
Closing this issue, in the future provide all information. We won't login to your servers as we don't have the time, and provide as much info as possible.

[2016-05-10 15:23] #378 closed

[2016-05-10 15:45] Matsv commented on #383
@catdisc6491 @EvilOlaf Fixed next version #393

[2016-05-10 15:45] #383 closed

[2016-05-10 18:48] Legobuilder0813 opened #394 "BKCommonLib causes packet issues"
### What version of ViaVersion are you using? Type /ver viaversion
0.8.1
### What version of Spigot are you using? Type /ver
CraftBukkit version git-Spigot-db6de12-4ac2347 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)
### What plugins are you using? Type /plugins
CoreProtect, WorldEdit, WorldBorder, ViaVersion, ProtocolLib, Pixelator, WorldGuard, LibsDisguises, BKCommonLib, Train_Cart

[2016-05-10 23:54] MylesIsCool commented on #394
Have you tried without traincarts?

[2016-05-11 05:39] Matsv commented on #394
Could you post your startup log?

[2016-05-11 06:20] Matsv commented on #317
Will close this for now, because this is something we will not make at the moment.

[2016-05-11 06:20] #317 closed

[2016-05-11 06:22] Matsv commented on #217
Also happens on Spigot 1.9. Might be a client-sided glitch?

[2016-05-11 12:31] MylesIsCool commented on #217
I believe the client can no longer have items revoked, as it isn't vanilla behaviour. Sadly this can't really be fixed :-(

[2016-05-11 16:35] EliLevy-Dev commented on #394
@MylesIsCool Traincarts is something that's essential to our server, however we did disable it for some testing and had the same error.

[2016-05-12 12:55] Matsv commented on #352
@AdminZero Could you post your plugin list?

[2016-05-13 11:30] Matsv commented on #394
@EliLevy-Dev Not sure if you are on the same server as @Legobuilder0813, but could you post your startup log, give us more information? Also make sure you use the latest 1.8 versions from all your plugins. And please try to debug, try to remove some plugins, see what is causing it.

[2016-05-14 02:47] AdminZero commented on #352
Yes Here is what you asked `for:`
<img>http://imgur.com/qZuJ2oZ</img>

[2016-05-14 09:28] Matsv commented on #352
@AdminZero Alright, the same plugin I use is 'BKCommonLib' when I removed that, it worked again. Could you confirm this for me that that's also the issue for you?

[2016-05-14 22:06] AdminZero commented on #352
YES YES YES!  You are 100% correct... I removed the BKcommonLib and the signs work 100% now!  Luckily for me only 1 other rarely used plugin used that lib so i just removed those and it working great.

However, If you can do something to make it work that would be great! Thanks.

[2016-05-15 14:32] Matsv commented on #352
@rj0495 are ViaVersion, ProtocolLib, Libsdisguises the only plugins you used?

[2016-05-15 20:19] TiTo-418 commented on #337
Can I know why this was closed?

[2016-05-15 20:22] Matsv commented on #337
@TiTo-418 ofcourse, protocolsupport and viaversion are trying to do the same thing which conflicts with each other, it will be a lot of work to support it.

[2016-05-15 20:35] TiTo-418 commented on #337
@Matsv Thank you!

[2016-05-17 20:22] dadus33 opened #398 "Connecting from 1.9.2 to 1.9.4 server won't work"
### What version of ViaVersion are you using? Type /ver viaversion
0.8.1

### What version of Spigot are you using? Type /ver
git-Paper-748 (MC: 1.9.4) (Implementing API version 1.9.4-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins
http://prntscr.com/b59ex6

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

[2016-05-17 20:26] Matsv commented on #398
Hey, there is currently a beta version that supports backwards compatibility for 1.9.4. If you want to help testing it, here is the link: http://myles.us/ViaVersion/temp/ViaVersion-0.8.2-SNAPSHOT.jar

Please let us know if you found any bugs :)

[2016-05-17 20:26] #398 closed

[2016-05-17 21:58] Matsv commented on #352
@AdminZero Our hero @MylesIsCool created a patch for BKCommonLib, download link here: http://myles.us/ViaVersion/BKCommonLib.jar

[2016-05-17 22:08] MylesIsCool commented on #394
If you experience this issue:

Use https://github.com/MylesIsCool/BKCommonLib and scroll down for download.

BKCommonLib has some issues with ProtocolLib and us, this fixes it.

[2016-05-17 22:08] #394 closed

[2016-05-17 23:02] Matsv commented on #352
Going to close this, please create a new issue if you are still experiencing this issue.

[2016-05-17 23:02] #352 closed

[2016-05-18 13:49] Nev3rGiveUp opened #400 "Hello :) this is not a bug or an issue :) Just question"
Can I use ViaVersion with protocollib , I want just to allow using 1.9.x in 1.9.2 version server. Nothing more features if this plugin have them.

[2016-05-18 13:50] Matsv commented on #400
Yes, you can as long you have 'late-bind' disabled in spigot.yml :smile:

[2016-05-18 13:50] #400 closed

[2016-05-18 21:33] YellowZaki commented on #251
c

[2016-05-18 22:45] MylesIsCool commented on #251
@YellowZaki Your using an old version or something, check your config options and delete and renew if necessary ensure you're on 0.8.2.

[2016-05-19 10:00] mat41997 opened #401 "error - ConcurrentModificationException"
logs
http://hastebin.com/xokuzumixu.css

timings
https://timings.aikar.co/v2/?id=5c746cb353d040c782d72b1bca94520a

[2016-05-19 14:46] MylesIsCool commented on #401
This is not related to this plugin, contact the author of:
at niko.api.v1_9_R2.PingInjector.injectOpenConnections(PingInjector.java:44)

And consider learning to read stack traces, thanks.

[2016-05-19 14:46] #401 closed

[2016-05-19 18:13] cloakfox opened #403 "An error occurred with entity meta data for ..."
### What version of ViaVersion are you using? Type /ver viaversion
0.8.2
### What version of Spigot are you using? Type /ver
Latest 1.8.8 paperspigot
### What plugins are you using? Type /plugins
Not relevant I think
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
Also not usefull
### How does this error happen? login?

[2016-05-19 18:17] Matsv commented on #403
First of all, plugins are always relevant.
Second of all, one of your plugins is sending invalid metadata.
You can disable this message in your config.

[2016-05-19 18:17] #403 closed

[2016-05-20 10:22] EvilOlaf opened #404 "Chunks messed up"
### What version of ViaVersion are you using? Type /ver viaversion
0.8.2
Configuration default/untouched.

### What version of Spigot are you using? Type /ver
1.8.8-R0.1
As this branch will not receive any further updates I think "latest available build" is a legit indication ;).

### What plugins are you using? Type /plugins
If needed for debugging let me know.
Using Spigots built-in Orebfuscator

[2016-05-20 11:58] MylesIsCool commented on #404
Does this only happen only with the orefuscator turned on?

[2016-05-20 12:08] EvilOlaf commented on #404
Did not test yet. Will do tomorrow.

[2016-05-21 09:50] fabien91 opened #405 "Random Disconnect not fix with last version of BungeeCord and Viaversion"
### What version of ViaVersion are you using? Type /ver viaversion

0.8.2

### What version of Spigot are you using? Type /ver

This server is running CraftBukkit version git-Spigot-5f38d38-18fbb24 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins

![pl](https://cloud.githubusercontent.com/assets/5675697/14737543/e57b0d66-087c-11e6-8ff5-b5f68

[2016-05-21 09:55] Matsv commented on #405
Can you set debug=true in server.properties and post the error?

[2016-05-21 10:01] Carbonax commented on #392
I'm having issue with it too, so it's clearly a bug.

[2016-05-21 10:03] Matsv commented on #392
@Carbonax It isn't, use the latest official Spigot release.https://www.spigotmc.org/resources/viaversion.19254/

[2016-05-21 10:05] Carbonax opened #406 "Can't connect with 1.9.4 to a 1.8.8-ViaVer server"
##  **BUG LOCATED: late-bind:true causes this in spigot.yml**

### What version of ViaVersion are you using? Type /ver viaversion
0.8.1

### What version of Spigot are you using? Type /ver
git-PaperSpigot-"8b18730" (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins
CoreProtect, WorldEdit, OpenInv, BetterBeds, PlugMan, ChatControl, Lockette, Wo

[2016-05-21 10:10] Matsv commented on #406
Could you post your startup log?

[2016-05-21 10:10] Carbonax commented on #406
Issue located; late-bind is the culprit. Is this a bug?

[2016-05-21 10:12] Matsv commented on #406
late-bind can't work in combination with ProtocolLib at the moment.

[2016-05-21 10:14] #406 closed

[2016-05-21 11:57] TonyOneZero opened #407 "Auto Download"
Please add a auto Download on update

[2016-05-21 12:21] TheIntelloBox commented on #392
Could you add Minecraft Snapshot 1.10 compatibility ?

[2016-05-21 12:26] EvilOlaf commented on #392
Are you on drugs? ^^

[2016-05-21 12:43] Matsv opened #408 "1.10 Roadmap"
## Please report any issues you have with the 1.10 build in the comments.

You might have noticed that there is a '1.10' branch. We are following the development for 1.10 to be compatible with it when it gets released. https://github.com/MylesIsCool/ViaVersion/tree/1.10

**Please know that this builds might be unstable and are not meant for production use.**

_We'll only support the latest snapsho

[2016-05-21 12:44] Matsv commented on #392
@TheIntelloBox #408 :wink:

[2016-05-21 12:46] Matsv commented on #407
Please checkout #317 why it's chosen to not do this.
However, there is now a direct download link available, to allow people to make auto-update scripts.

[2016-05-21 12:46] #407 closed

[2016-05-21 14:24] Matsv commented on #408
Sounds are now fixed, link is updated.

[2016-05-21 19:39] Matsv commented on #408
Now compatible with Spigot 1.8.

[2016-05-21 21:10] MylesIsCool commented on #405
I'd suggest trying what @Matsv said but also try without ServerListPlus and see if still happens and if that doesn't change attempt to remove a few of your plugins so we can identify the incompatibility.

[2016-05-22 07:54] EvilOlaf commented on #404
Sorry for the delay, overslept two testing windows ^^.

Anyway, for unknown reason the issue seems to be disappeard. For me at least. I'll ask some fellows to verify this.

[2016-05-22 08:01] Matsv commented on #404
Great to hear that. I thought I broke the chunks

[2016-05-22 11:00] xion87 commented on #405
i got a similiar issue but skinsrestorer, but is not viaversion fault...

[2016-05-22 11:00] xion87 commented on #405
btw the only plugin that i use it in common is bungeeperms

[2016-05-22 12:27] fabien91 commented on #405
@Matsv I've try but i don't see change in log

@MylesIsCool Why remove ServerListPlus because this error is produce on only one server among the 8 server available ? I think the problem come just one of our plugin, i go look this.

@xion87 Not possible because on my network only one server is affect by this problem.

[2016-05-22 14:36] GoNotCougsWA opened #409 "JoinERROR"
0.8.2

This server is running CraftBukkit version git-Spigot-db6de12-18fbb24 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)
[07:36:11 INFO]: Checking version, please wait...
[07:36:12 INFO]: You are 270 version(s) behind

Plugins I am using is
Noteblock API
Vault
ViaVersion - 0.8.2

I am not using bungeecord I am using the server for test my own plugins I make.

This error happens when

[2016-05-22 14:41] MylesIsCool commented on #409
This doesn't seem like a full plugin list? You're doing something wrong in your plugin with entity metadata.

[2016-05-22 14:47] GoNotCougsWA commented on #409
So... Look's like
There is a DiamondMiner-Core plugin I am working on and if I
getServer().getScheduler().scheduleSyncRepeatingTask(this, new removeParticle(), interval, interval);

to remove /effects Particle's

Viaversion Stop's working

Class removeParticle:

package <Not Saying :D>

import org.bukkit.Bukkit;
import org.bukkit.craftbukkit.v1_8_R3.entity.CraftLivingEntity;
import org.bukkit.enti

[2016-05-22 14:49] MylesIsCool commented on #409
I'm not technical support for other plugins but I'd suggest looking at what your doing in relation to wiki.vg values.

[2016-05-22 14:49] GoNotCougsWA commented on #409
Ok

[2016-05-22 15:40] #409 closed

[2016-05-22 20:29] MineTheCube opened #410 "Players timed out and became invisible"
### What version of ViaVersion are you using? Type /ver viaversion
0.8.2

### What version of Spigot are you using? Type /ver
[code]

### What plugins are you using? Type /plugins
It happens on the 3 servers under my Bungee with different plugins, but all have ViaVersion. They have also these plugins in common: http://pastebin.com/raw/mPjZLgWv

And another custom plugin to manage scoreboard prefix

[2016-05-22 20:34] MylesIsCool commented on #410
Have you checked that this is not just a connection issue with your server and without viaversion? (Ensuring you test close to the same time in case it is and it comes back and goes away)

[2016-05-22 21:28] MineTheCube commented on #410
I think not, as each time it's only one player which is affected by the bug, every others don't notice any lag or something at all.
Also I forgot to mention that it seems to be often the same players, but nothing related to internet issues as they all have a good ping (< 80ms).

[2016-05-22 21:33] MylesIsCool commented on #410
Could you do further testing?

[2016-05-22 21:59] MineTheCube commented on #410
Well, I don't really know what to test..

Also, if I do hidePlayer() then showPlayer(), he re-appear to others who weren't able to see him.

[2016-05-23 11:27] MylesIsCool commented on #410
You should test with and without the plugin in specifics to this user.

Also what's different about your setup to everyone else using the plugin if it is ViaVersion?

[2016-05-23 23:41] MineTheCube commented on #410
I thought it came from ViaVersion as the bug started to appear just after update to 0.8.2.
But it's not, as after a lot of tries I got the bug, without ViaVersion, and I know how to reproduce it.

So, sorry for inconvenience... and keep up the good work (as you always did) 👍

[2016-05-23 23:41] #410 closed

[2016-05-24 16:45] Matsv commented on #405
@fabien91 Also no errors in your bungee log?

[2016-05-24 18:43] Dimatert9 opened #411 "Netty crash"
### What version of ViaVersion are you using? Type /ver viaversion
[20:40:07 INFO]: ViaVersion version 0.8.3
[20:40:07 INFO]: Author: _MylesC

### What version of Spigot are you using? Type /ver
[20:40:17 INFO]: This server is running CraftBukkit version git-Spigot-8a048fe-a022dd2 (MC: 1.9.4) (Implementing API version 1.9.4-R0.1-SNAPSHOT)
[20:40:17 INFO]: Checking version, please wait...
[20:40:18

[2016-05-24 19:01] Matsv commented on #411
Could you enabled debug=true in server.properties and post the console log?

[2016-05-24 21:15] MylesIsCool commented on #411
Also try without SkinRestorer. ^^

[2016-05-25 10:43] Dimatert9 commented on #411
http://pastebin.com/1bh5e7Px

[2016-05-25 14:56] Matsv commented on #408
Updated to 16w21a

[2016-05-25 16:15] Matsv commented on #411
Does it happen without ViaVersion?

[2016-05-25 17:02] Dimatert9 commented on #411
I dont can test it. I have 2 servers with 200+ online. 60% players dont use 1.9.3/4.
And i had this error in version 1.9.2.

[2016-05-25 21:48] MylesIsCool commented on #411
I don't think this is ViaVersion related. Unless you can test otherwise we can't help you.

[2016-05-27 03:25] Kyzderp opened #412 "High memory usage"
We installed ViaVersion yesterday and noticed today that memory usage kept climbing. This seemed to occur only on the dedicated login server; there was no noticeable difference in the other servers despite having the exact same config, perhaps the issue is caused by higher traffic? We did also have slightly higher-than-usual CPU, disk, and network usage, but this was to be expected because 1.9 cli

[2016-05-27 10:02] Dimatert9 commented on #411
SkinsRestorer error

[2016-05-27 10:27] #411 closed

[2016-05-27 12:02] MylesIsCool commented on #412
If you could get a Java profiler and find the usage of all the memory that would be cool. I've had no other reports of this which is weird.

Otherwise I can't really replicate it, :(

[2016-05-27 15:14] EvilOlaf commented on #404
@Matsv Just received some screenshots from an user which in principle look like the ones above.
Did not test without Spigot orebfuscator yet.

[2016-05-27 15:32] Matsv commented on #404
@EvilOlaf Alright, let me know if you tried it without the orefuscator

[2016-05-27 16:56] Matsv commented on #196
I'm going to close this issue.

**Why?**
We think this issue is too complex to fix without touching directly into spigot.
With 1.10 coming on his way, we recommend you to update to 1.9 when you are ready if you want to use boats that are sync.

[2016-05-27 16:56] #196 closed

[2016-05-28 13:04] TheChampTF opened #413 "MalformedJsonException"
On 0.8.2

28.05 15:20:30 [Server] INFO Invalid JSON String: "{}{}{}{}{}{}{}{}{}" Please report this issue to the ViaVersion Github: us.myles.viaversion.libs.gson.stream.MalformedJsonException: Use JsonReader.setLenient(true) to accept malformed JSON at line 1 column 4 path $

[2016-05-28 13:24] Kakifrucht opened #414 "Java 1.7 compat"
### What version of ViaVersion are you using? Type /ver viaversion
This was on 0.8.4
### What version of Spigot are you using? Type /ver
1.9.4-R0.1-SNAPSHOT
### How does this error happen? login? Using an item?
Unknown, it is spammed around 6 times per second. I'm still on Java 1.7 :(
### Is there an error in the console? Use pastebin.com. Is there a kick message?
https://pastebin.com/8GbFCJ8g

[2016-05-28 13:31] Matsv commented on #413
Please fill in the issue template. It's there for are reason.
https://github.com/MylesIsCool/ViaVersion/blob/master/ISSUE_TEMPLATE.md

[2016-05-28 13:31] Matsv commented on #414
Please re-download the latest version. That should fix it :smile:

[2016-05-28 13:31] #414 closed

[2016-05-29 02:07] Kakifrucht commented on #414
Fixed, thanks.

[2016-05-29 16:15] #413 closed

[2016-06-02 16:35] Matsv commented on #408
Now compatible with the latest version (1.10-pre1).

[2016-06-02 18:11] EvilOlaf opened #415 "Throwable after restart"
### What version of ViaVersion are you using? Type /ver viaversion
0.8.2

### What version of Spigot are you using? Type /ver
Spigot 1.8.8

### What plugins are you using? Type /plugins
If important let me know

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
No

### How does this error happen? login? Using an item?
No

[2016-06-02 18:13] Matsv commented on #415
Could you update to the latest version and see if it still happens?

[2016-06-02 18:14] EvilOlaf commented on #415
Will do.

[2016-06-02 18:53] Matsv commented on #408
Sounds should work correctly now.

[2016-06-02 20:32] SteveTheDog commented on #408
Will this be compatible with 1.9.x and 1.10 on spigot 1.8 or just 1.10?

[2016-06-02 20:38] Matsv commented on #408
Yes :smile: spigot 1.8.8-latest 1.9

[2016-06-02 21:38] SteveTheDog commented on #408
Ok, thank you so much!

[2016-06-03 15:28] lenis0012 commented on #310
What a weird bug.

[2016-06-04 06:12] EvilOlaf commented on #415
Sorry, forgot to mention. But this was a restart after a crash. Might be important to know.
[code]
For privacy reasons I edited the player names. I also stripped the threads that were dumped because they basically unformatted waste. Kind a pain in the butt to read. If interested anyways let me know.

[2016-06-04 06:12] EvilOlaf commented on #404
Damnit. I always forget to test this in the early morning. I'll set up an alert or something to remind me -.-

[2016-06-04 11:12] concuncan opened #416 "Double interact"
### What version of ViaVersion are you using? Type /ver viaversion
0.8.4
### What version of Spigot are you using? Type /ver
git-Spigot-5f38d38-18fbb24 - 1.8.8-30.1-SNAPSHOT.
### What plugins are you using? Type /plugins
ViaVersion, ProtocolLib and custom plugins.
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
Yes, a

[2016-06-04 12:55] Matsv commented on #416
The problem is with the new USE_ITEM packet. By canceling the USE_ITEM packet if the block placement packet was sent within 50 ms, it's breaking stuff like fishing, opening chests etc.

I recommend you using the player interact event, or checking if the packet was sent in the same tick

[2016-06-04 21:21] Matsv commented on #416
I'm closing this issue.

*why?*
This will be too complex and create more bugs than it'll fix. It'll not happen if you use the official spigot/bukkit events API.

[2016-06-04 21:21] #416 closed

[2016-06-05 05:30] EvilOlaf commented on #404
Was not able to reproduce. However this may not mean it fixed itself as it did not occur each and every time earlier.
Anyway one of my users got an idea that this is client-side and could be fixed by using `VBOs` in the graphic settings.

[2016-06-05 07:39] Matsv commented on #404
Oh, yeah it would be weird if viaversion caused the chunk issue only on 1.9.2 since there are no chunk changes (protocol wise) for chunks

[2016-06-06 11:48] MylesIsCool commented on #405
No response for nearly 2 weeks, going to close, if you are having this issue please open an new issue with all your logs, plugins, bungee plugins and versions of via, spigot and bungee. (Also using debug=true in server.properties can also help)

[2016-06-06 11:48] #405 closed

[2016-06-07 10:30] semmeess opened #417 "Zombie/Skeleton horse (babies?) invisible on 1.9.4 when spawned on 1.8 server"
### What version of ViaVersion are you using? Type /ver viaversion
0.8.4
### What version of Spigot are you using? Type /ver
git-spigot-e4d4710-e1ebe52
### What plugins are you using? Type /plugins
http://i.imgur.com/BLguDe9.png
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
git:BungeeCord-Bootstrap:1.9-SNAPSHOT:a12ac

[2016-06-07 14:43] Matsv commented on #417
Does this only happen for 1.9 users or also for 1.8?

[2016-06-07 15:30] Matsv commented on #408
Now compatible with 1.10-pre2

[2016-06-07 17:32] semmeess commented on #417
Only for 1.9 users

[2016-06-08 09:12] Matsv commented on #417
I can confirm this is happening, I'll try to debug it a little bit.

[2016-06-08 10:01] Matsv commented on #417
I only have this problem with horses, can you tell me how to reproduce the other mobs?

[2016-06-08 10:11] Matsv commented on #417
Fixed next version :) #419

[2016-06-08 10:12] #417 closed

[2016-06-08 10:57] joserobjr opened #420 "Potions are converted incorrectly from 1.8 to 1.9"
### What version of ViaVersion are you using? Type /ver viaversion
0.8.4

### What version of Spigot are you using? Type /ver
git-Spigot-5f38d38-12698ea (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

### How does this error happen?
1.8 uses a byte flag based system to manage potion effects, it's not based on a fixed key or id, so the same potion effect can be obtained from many differ

[2016-06-08 11:01] MylesIsCool commented on #420
We only port certain ids as they are the vanilla way of obtaining them. I mean if you have a better way to convert them that isn't ugly and gives same results, that's also cool. :)

[2016-06-08 11:06] MylesIsCool commented on #415
Does this issue happen a lot, have you tested without Via? Seems odd as it's hopper related

[2016-06-08 14:24] EvilOlaf commented on #415
There were a few crashes with hoppers as reason. However the crashes themselves are probably not related to viaversion. I set alternative hopper ticking back to false to see if it persists.

[2016-06-08 15:23] Matsv commented on #408
1.10 is out. It'll be released on Spigot soon.

[2016-06-08 15:23] #408 closed

[2016-06-08 16:32] joserobjr opened #423 "Chests has enderchest sounds on 1.10"
### What version of ViaVersion are you using? Type /ver viaversion
1.9.1

### What version of Spigot are you using? Type /ver
CraftBukkit version git-Spigot-5f38d38-12698ea (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

### How does this error happen? login? Using an item?
Open/close a normal chest and enderchest sound is played on 1.10.
Minecraft 1.10 changed the enderchest sound, it

[2016-06-08 16:47] Matsv commented on #423
Thanks for reporting

[2016-06-08 17:03] Matsv commented on #423
Hm strange, only happens on 1.8 servers, will look into it soon if someone else didn't do it yet.

[2016-06-08 17:09] #423 closed

[2016-06-08 18:31] joserobjr opened #425 "Splash Potions on Spigot 1.8.8 crashes 1.10 clients"
### What version of ViaVersion are you using? Type /ver viaversion
ViaVersion version 0.9.0
https://ci.viaversion.com/job/ViaVersion%201.10%20DEV/15/

### What version of Spigot are you using? Type /ver
CraftBukkit version git-Spigot-e4d4710-e1ebe52 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins
Plugins (1): ViaVersion

### Are you using a

[2016-06-08 18:32] Matsv commented on #425
Fixed https://github.com/MylesIsCool/ViaVersion/commit/f8ac54e237824eef92a2ac347de894832616442a
download the latest version from the buildserver

[2016-06-08 18:32] #425 closed

[2016-06-08 18:33] joserobjr commented on #425
I see, the link's just gone lol I'm updating, thanks.

[2016-06-09 04:45] Kiryushaz opened #428 "Spam in the console"
### What version of ViaVersion are you using? Type /ver viaversion
0.9.2

### What version of Spigot are you using? Type /ver
This server is running CraftBukkit version git-Spigot-db6de12-18fbb24 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins
Plugins (10): PermissionsEx, ViaVersion, IPWhitelist, SkinsModule, Vault, ProtocolLib, NoCheatPlus

[2016-06-09 05:25] TiTo-418 commented on #428
You updated your server to 1.9 and then switched back to 1.8, right?

[2016-06-09 07:04] Kiryushaz commented on #428
I wanted to make a test server at 1.8-1.10

[2016-06-09 07:14] Matsv commented on #428
Not a viaversion issue. This will happen if you downgrade your server from 1.9 like @TiTo-418 said.

[2016-06-09 07:14] #428 closed

[2016-06-09 09:38] sebastianbinder opened #430 "Sound UI_BUTTON_CLICK in 1.9 on 1.9.4 server"
ViaVersion 0.9.2
Server is running on Spigot 1.9.4 (latest build), players join via BungeeCord
Clients joining with 1.9 don't hear the correct sound 'UI_BUTTON_CLICK'. Instead it sounds like kinda "rain" sound. It works fine with 1.9.4 and 1.10 clients.

[2016-06-09 11:21] Matsv commented on #430
Does this happen on non viaversion 1.9 servers?

[2016-06-09 12:09] elstringer opened #431 "Error Java | Spigot 1.8.8 - Client 1.10"
What version of ViaVersion are you using? Type /ver viaversion
**ViaVersion 0.9.2**
What version of Spigot are you using? Type /ver
**Spigot 1.8.8-R1**
Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
**BungeeCord lastbuild **

console
**http://pastebin.com/JNh14Kfp**

[2016-06-09 12:10] Matsv commented on #431
One of your plugins is sending invalid metadata, you can disable this message in the viaversion config

[2016-06-09 13:03] sebastianbinder commented on #430
Spigot 1.9.2 (R1) e000104-4cb3258 - Client 1.9 - No ViaVersion - WORKS
Spigot 1.9.2 (R1) e000104-4cb3258 - Client 1.9 - With ViaVersion - WORKS

Spigot 1.9.2 (R1) e000104-4cb3258 - Client 1.9.4 - No ViaVersion - not compatible (of course)
Spigot 1.9.2 (R1) e000104-4cb3258 - Client 1.9.4 - With ViaVersion - WORKS

Spigot 1.9.4 (R2) 798f32d-0cd0397 - Client 1.9 - No ViaVersion - not compatible (of c

[2016-06-09 13:24] Matsv commented on #430
I can't reproduce it, isn't the UI sound client-sided? (I'm currently trying the buttons like settings, resume to game, sign accept) if you meant that

[2016-06-09 14:07] sebastianbinder commented on #430
Ehm, no, I'm not talking about the Client UI. Sorry, I should have mentioned that :)
I'm talking about e.g. ``player.playSound(player.getLocation(), Sound.UI_BUTTON_CLICK, 1, 3);`` used by plugins.

[2016-06-09 14:53] Matsv commented on #430
Fixed next version. Thanks for reporting and taking the time on Gitter :wink:

[2016-06-09 14:53] #430 closed

[2016-06-09 14:57] sebastianbinder commented on #430
Great. Thanks for the great support and chat on Gitter :)

[2016-06-09 15:07] #431 closed

[2016-06-09 23:13] semmeess opened #433 "Random kick with 1.10 update"
### What version of ViaVersion are you using? Type /ver viaversion
0.9.2 (not the dev build, straight from spigot.org)
### What version of Spigot are you using? Type /ver
git-spigot-e4d4710-e1ebe52
### What plugins are you using? Type /plugins
http://i.imgur.com/6g28L5u.png
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as wel

[2016-06-09 23:49] MylesIsCool commented on #433
Try suppressing errors in the config, otherwise if it still persists try our latest dev build on ci.viaversion.com as it fixed an issue with holos on another server.

[2016-06-09 23:52] semmeess commented on #433
Thanks

[2016-06-10 01:33] Aangiix3 opened #434 "ViaVersion 0.9.2 doesn't work on Spigot 1.9.4"
### What version of ViaVersion are you using? Type /ver viaversion
0.9.2

### What version of Spigot are you using? Type /ver
latest of spigot 1.9.4 (really the latest)

### What plugins are you using? Type /plugins
HolographicDisplays

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
latest bungee version (1.10 support

[2016-06-10 01:46] fiba1 opened #435 "Glass pane appearance."
ViaVersion
**0.9.2**

Spigot
**1.8.8**

Plugins
**Pex, NoDamage, NoWeather, WorldEdit, Chat (BungeeSuitChat), SpawnonLogin, BungeeCompass, AntiVoid, Vault, HideStream**

**BungeeCord** --- BungeeSuite, BungeeJoinMesseges, GlobalTabList, ServerListPlus, BungeeAliases

### How does this error happen? login? Using an item?

(In 1.9 when Glass panes are placed they appear as sticks (similar to the End

[2016-06-10 02:00] TiTo-418 commented on #435
Pretty sure the can't be fixed server side, how the blocks are rendered it's up to the client

[2016-06-10 02:01] Aangiix3 commented on #434
Fixed. It was the hologram plugin.

[2016-06-10 02:01] #434 closed

[2016-06-10 06:53] Matsv commented on #433
If this is not solving it, is there an exception in the console when you get kicked (without the metadata errors enabled). And is there a disconnect message?

[2016-06-10 07:35] Matsv commented on #435
This is a feature from 1.9.

[2016-06-10 07:35] #435 closed

[2016-06-11 23:05] chartx opened #436 "Updating Player Inventory Plays Switch Item Animation"
ViaVersion version: 0.9.2
Spigot version: 0359393-cd1111 (1.8.8-R0.1)
Bungeecord: The bug appears with and without Bungeecord.

Description: Running player.updateInventory() plays the switch item animation ([gif](https://giphy.com/gifs/3o72F8pbconZwSmEc8)), but only in 1.9 and 1.10. I first discovered it on my Bungeecord network, which has other factors at play. Then I made a plugin that runs play

[2016-06-11 23:07] TiTo-418 commented on #436
Vanilla bug

[2016-06-11 23:09] chartx commented on #436
player.updateInventory() is a Bukkit method. Are you saying Spigot 1.9 and 1.10 also have this issue?

[2016-06-11 23:11] TiTo-418 commented on #436
It's a client side bug that appeared in 1.9, it doesn't matter the server version.

[2016-06-11 23:12] chartx commented on #436
Alright. Thanks for the fast responses.

[2016-06-11 23:12] #436 closed

[2016-06-11 23:12] chartx commented on #436
9

[2016-06-12 15:05] EvilOlaf commented on #415
Yep, persists...

[2016-06-12 16:48] MylesIsCool commented on #415
@EvilOlaf I'd suggest taking this up with spigot possibly. But you will be using an outdated version and would need to replicate in 1.10

[2016-06-12 16:50] EvilOlaf commented on #415
The 1.8.8 build I use is the latest buildtools will generate in this branch. Also I am not up to updating to 1.9 or higher.

[2016-06-12 17:37] TiTo-418 commented on #415
@EvilOlaf Then upgrade to the latest version :P

[2016-06-12 17:47] EvilOlaf commented on #415
As it seems like the throwable had/has no affect to gameplay and is probably not reproducible as well I will not take any further action here.

[2016-06-14 13:52] 99IRock opened #438 "Proxy lost connection"
### What version of ViaVersion are you using? Type /ver viaversion
0.9.2
### What version of Spigot are you using? Type /ver
1.8.8-R0.1
### What plugins are you using? Type /plugins
https://gyazo.com/d0c83495fba8095df59fbc352b998f2b

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
Yes I am using bungeecord #1159 (lates

[2016-06-14 13:53] 99IRock commented on #438
Oh and I don't have this problem with Viaversion 0.6.4, that's why I didn't update because it kept on giving me this problem

[2016-06-15 12:19] MylesIsCool commented on #433
Is this solved? Otherwise if no response going to assume it is and close in a few days.

[2016-06-15 12:19] #415 closed

[2016-06-15 12:20] MylesIsCool commented on #412
Need full logs etc, got nobody else experiencing this. Maybe a memory dump would be nice.

[2016-06-15 12:20] #412 closed

[2016-06-15 12:20] MylesIsCool commented on #404
Any update on the problems with this issue?

[2016-06-15 12:28] semmeess commented on #433
Seems solved in dev build with error suppression yes

[2016-06-15 12:31] #433 closed

[2016-06-15 12:58] EvilOlaf commented on #404
Not for me at least. Guess most using 1.9.4 or 1.10 now which seem not to be affected.

[2016-06-15 15:14] MylesIsCool commented on #404
Going to close for now, if you come up with a way to cause this issue. (or maybe it's just Minecraft) Please reopen :)

[2016-06-15 15:14] #404 closed

[2016-06-16 06:13] RyanHecht opened #439 "Collision Cancel Appears to be Ignored"
### What version of ViaVersion are you using? Type /ver viaversion
0.9.3
### What version of Spigot are you using? Type /ver
1.8.8
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
BungeeCord Build #1159 (latest as of 6/15/2016)
Plugins: http://prntscr.com/bgzbo1

### How does this error happen? login? Using an item?
I h

[2016-06-16 06:36] Matsv commented on #439
Make sure auto-team is also enabled

[2016-06-16 06:42] Matsv commented on #439
What bungee plugins do you use?

[2016-06-16 06:43] Matsv commented on #439
What bungee plugins do you use?

[2016-06-16 15:38] RyanHecht commented on #439
jkl123m14's BungeeChatClear, Bloodsplat's BungeeSuite-1.9, CodeCrafter47's BungeeTabListPlus, Niklas Stambor's Maintenancemode, Troydesante's Server Switcher, joehot200's ServerInfo, and Yamler @Matsv

[2016-06-16 15:40] Matsv commented on #439
@RyanHecht could you try to remove some of those plugins to see if one of them is causing it?

[2016-06-16 15:52] RyanHecht commented on #439
@Matsv What's the gist of how the collision cancelling works? That way I can make an educated guess as to what may be causing it

[2016-06-16 15:58] MylesIsCool commented on #439
@RyanHecht It simply overrides scoreboard packets.

[2016-06-16 21:21] TiTo-418 commented on #439
This team option is flipped (https://bugs.mojang.com/browse/MC-87984)

[2016-06-17 05:59] RyanHecht commented on #439
BungeeTabListPlus, which by nature obviously also overrides scoreboard packets, is causing the issue..unfortunately, looks like there isn't a way to use the collision cancelling feature AND BungeeTabListPlus together. Oh well, haha

[2016-06-17 05:59] #439 closed

[2016-06-17 07:01] Matsv commented on #439
Try contacting the developer from bungeetablist :smile:

[2016-06-20 19:04] camdenorrb opened #440 "[Feature request] Auto update or update with command."
Was just wondering since you guys make so many updates if it was possible you would add a Auto update feature?

I can possibly add it and make a pull request if it helps.

[2016-06-20 19:10] Matsv commented on #440
We'll not implement an auto-updater.

There are a few reasons for that.

_Quote from @MylesIsCool _

However, you can create your own auto-updater for your server.

**From the Spigot page:**

Full discussion #317

[2016-06-20 19:10] #440 closed

[2016-06-20 19:11] camdenorrb commented on #440
Sorry I should have read the other issues.

[2016-06-21 12:45] Matsv commented on #438
I'm going to close this because you didn't respond. Please ask a re-open when you can provide us with more information.

[2016-06-21 12:45] #438 closed

[2016-06-22 19:58] VatPik opened #442 "Protocol Version"
### What version of ViaVersion are you using? Type /ver viaversion

### What version of Spigot are you using? Type /ver
1.10
### What plugins are you using? Type /plugins
Plugins (18): ChestFiller, WorldEdit, ItemRenamer, iDisguise, Vault, PermissionsEx, ViaVersion, WorldGuard, MakeYourOwnCommands, Essentials, PlotSquared, MultiWorld, Autorank, EssentialsSpawn, EssentialsChat, ProtocolLib, Hologra

[2016-06-22 19:59] Matsv commented on #442
As mentioned on the Spigot page, this plugin is meant to support newer versions on an older server.
There are other plugins out there that support backwards compatibility (Like ProtocolSupport)

[2016-06-22 19:59] #442 closed

[2016-06-22 20:00] MrPowerGamerBR commented on #442
ProtocolSupport Link: https://www.spigotmc.org/resources/protocolsupport.7201/

[2016-06-23 00:06] alexmarkey opened #444 "0.9.4 log spam"
### What version of ViaVersion are you using? Type /ver viaversion

0.9.4

### What version of Spigot are you using? Type /ver

http://prntscr.com/bjslp3

### What plugins are you using? Type /plugins

http://prntscr.com/bjsltk

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

LilyPad

### How does this error happen? l

[2016-06-23 00:07] alexmarkey opened #445 "1.10.1 Client crashes"
### What version of ViaVersion are you using? Type /ver viaversion

0.9.4

### What version of Spigot are you using? Type /ver

http://prntscr.com/bjslp3

### What plugins are you using? Type /plugins

http://prntscr.com/bjsltk

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

LilyPad

### How does this error happen? l

[2016-06-23 00:12] Matsv commented on #444
One of your plugins is sending invalid metadata. You can disable this warning in the ViaVersion config by changing the 'suppress-metadata-errors' value to true.

[2016-06-23 00:13] #444 closed

[2016-06-23 00:15] Matsv commented on #445
This is a Minecraft bug in 1.10.1. @MylesIsCool created a small patch for it that replace the block with another (When you enable it in the config). You can download the devbuild on https://ci.viaversion.com

[2016-06-23 01:10] PhanaticD opened #446 "1.10.1 crash (wall sign?)"
### What version of ViaVersion are you using? Type /ver viaversion
0.9.5-SNAPSHOT build 37

### What version of Spigot are you using? Type /ver
This server is running Paper version git-Paper-772 (MC: 1.9.4) (Implementing API version 1.9.4-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins

### Are you using any additional software like BungeeCord? If so, what software and version? (Plea

[2016-06-23 04:06] ridalarry opened #448 "Crash pistons"
Using the latest ViaVersion on spigot 1.9.4 and I am having issue with piston extensions crashing the players on 1.10.1

http://pastebin.com/jdAVjNwP

[2016-06-23 05:26] EvilOlaf commented on #448
https://github.com/MylesIsCool/ViaVersion/pull/443

[2016-06-23 07:42] Matsv commented on #448
There is a devbuild on the server that makes you replace that client crashing block. We are going to wait and see if Mojang patches the issue today.

[2016-06-23 07:42] #448 closed

[2016-06-23 08:32] Matsv commented on #446
Hi, could you try normal Spigot 1.9.4, and see if it happens there?

[2016-06-23 10:28] PhanaticD commented on #446
considering mojang has said they are going to be "fixing the issues with 1.10.1" its probably their fault :P

[2016-06-23 10:36] MrPowerGamerBR commented on #446
This same crash also happened to me, but instead of a sign, it was a enderchest: https://gist.github.com/MrPowerGamerBR/c2cc7cecede5943aec92219856fa6fe1

I didn't post a separate issue because I don't run the latest & official ViaVersion, I'm running a "not-so-official" ViaVersion for 1.7.10, but I decided to share the crash report... maybe it will help with something...

I hope Mojang fixes the i

[2016-06-23 10:38] Matsv commented on #446
@MrPowerGamerBR Pull the changes in your non-official ViaVersion, that should fix it.

[2016-06-23 10:38] Matsv commented on #446
I doubt it that Mojang will remove this check completely.

[2016-06-23 10:54] BOT-Neil opened #449 "ProtocolSupport is not compatible with ViaVersion & 1.9.4 server"
### What version of ViaVersion are you using? Type /ver viaversion
0.9.4

### What version of Spigot are you using? Type /ver
https://gyazo.com/ac7b39613d13de8adfd4d169f4b85ed3

### What plugins are you using? Type /plugins
https://gyazo.com/9bc8ee0e825e39d960fbbc94a82c6ba9

### Are you using any additional software like BungeeCord? If so, what software and version? https://gyazo.com/d462b77b0413c

[2016-06-23 12:46] Matsv commented on #446
Well, turns out they removed the exception completely on 1.10.2.

[2016-06-23 12:46] #446 closed

[2016-06-23 14:20] tara81 commented on #449
Same here, and my server crashes every 2 minutes with this error:
http://pastebin.com/t1jFZ7z0

Using ViaVersion 0.9.4
ProtocolSupport 4.23
Spigot : 1.9.4

[2016-06-23 15:09] Z609 commented on #449
[15:08:54 ERROR]: Encountered an unexpected exception
java.util.ConcurrentModificationException
        at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:901) ~[?:1.8.0_73]
        at java.util.ArrayList$Itr.next(ArrayList.java:851) ~[?:1.8.0_73]
        at net.minecraft.server.v1_8_R3.ServerConnection.c(ServerConnection.java:136) ~[server.jar:git-Spigot-e4d4710-e1ebe52]
        at

[2016-06-23 15:19] Z609 opened #450 "ProtocolSupport 1.8.8: Concurrency Issue"
### What version of ViaVersion are you using? Type /ver viaversion
0.9.3

### What version of Spigot are you using? Type /ver
This server is running CraftBukkit version git-Spigot-e4d4710-e1ebe52 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins
ProtocolSupport, GameAPI(custom), Hub(custom), ViaVersion, AAC, LibsDisguises, ProtocolLib, Optimu

[2016-06-23 15:20] ridalarry commented on #448
that patch didn't work

[2016-06-23 15:27] Z609 commented on #450
Here's a pastebin of the log file without ProtocolLib, it didn't really make a difference.
http://pastebin.com/KrpSNzen

[2016-06-23 15:31] Matsv commented on #448
@ridalarry did you enable the config option?

[2016-06-23 15:31] Z609 commented on #450
Here's a pastebin of the log file WITH ProtocolLib WITH the latest 0.9.4 from Spigot's site.
http://pastebin.com/vLR9Xci9

[2016-06-23 15:47] Z609 commented on #450
This is where the error is happening. Must be something wrong with that Iterator.

http://pastebin.com/aBUVReEn (look for my comment saying "Line 136")

[2016-06-23 16:52] BOT-Neil commented on #449
I already have player shuffle set to 0. However my server isn't crashing, it just won't accept 1.10 clients

[2016-06-23 17:02] MylesIsCool commented on #445
Use 1.10.2

[2016-06-23 17:02] #445 closed

[2016-06-23 17:04] MylesIsCool commented on #449
ProtocolSupport works with 1.8.8 server but has issues with 1.9.4 servers in initial boot.

I've removed irrelevant comments to this case, this will be looked into when I get the time.

[2016-06-23 18:00] Rida94 commented on #448
@Matsv yes i did

[2016-06-23 18:05] Matsv commented on #448
@Rida94 Use the version Mojang released today 1.10.2

[2016-06-23 18:25] Z609 commented on #450
Using a custom build of Spigot with that mod, but whenever I try to connect it just says:

"Z609 lost connection: Internal Exception: io.netty.handler.codec.EncoderException: java.lang.RuntimeException: An internal error occured."

The only difference between my code and yours is that I suppress the stacktrace because I really don't need/want to see it.

[2016-06-23 19:34] haelexuis opened #451 "End portal block is invisible for 1.10.2 players"
### What version of ViaVersion are you using? latest.. 23.06.2016

### What version of Spigot are you using? 1.9

This is end portal, https://cdn.pbrd.co/images/1U8IhY4J.png.. I belive, you don't need any description :D

[2016-06-23 19:49] Matsv commented on #451
Please use the issue template. https://github.com/MylesIsCool/ViaVersion/blob/master/ISSUE_TEMPLATE.md

[2016-06-24 00:35] haelexuis commented on #451
But.. it is texture o.O you don't need any info, try it and send me screen where is portal on minecraft 1.10.2

[2016-06-24 02:36] TiTo-418 opened #452 "Failed to initialise chunks reflection on player join"
### What version of ViaVersion are you using? Type /ver viaversion
http://prntscr.com/bkaeta

### What version of Spigot are you using? Type /ver
http://prntscr.com/bkaevk

### What plugins are you using? Type /plugins
http://prntscr.com/bkaf43

### Are you using any additional software like BungeeCord? If so, what software and version? No

### How does this error happen? login? Using an item?
Log

[2016-06-24 02:59] TiTo-418 commented on #452
Related commit: https://github.com/MylesIsCool/ViaVersion/commit/3ddc43bf7b64b79c3a27f14e0435e902100422d0

[2016-06-24 06:40] Matsv commented on #451
I can't reproduce this with spigot 1.9.4. That's why I ask for more info.

[2016-06-24 07:01] Matsv commented on #451
Screenshot you asked for: https://fs.matsv.nl/media?id=w0wh7fbo

[2016-06-24 07:21] Matsv commented on #452
Thanks for reporting, it's never tested it on SportBukkit.

[2016-06-24 12:55] MylesIsCool commented on #452
It should still work even if that happens though i'll patch this issue so it doesn't happen.

[2016-06-24 13:02] #452 closed

[2016-06-24 13:13] MylesIsCool commented on #450
Does this issue happen with just protocolsupport?

[2016-06-24 14:57] TiTo-418 commented on #452
@MylesIsCool Thank you :3

[2016-06-24 15:04] MylesIsCool commented on #450
The question was aimed at:

Does this happen with protocolsupport and not viaversion?

As in is this an issue in older protocolsupport. Was not aimed at anything else, and in regards to the concurrency issue nothing else.

[2016-06-24 15:31] MylesIsCool commented on #450
I'll look into the issue if it doesn't cost too much time, at the end of the day I'd rather work on the future of ViaVersion and not something that is in the past and just leads to more errors, basic compatibility is the aim for ProtocolSupport.

I also would appreciate people not discrediting ViaVersion and renaming it considering you put no work into it and it makes you look like a scumbag. @Z60

[2016-06-24 15:37] MylesIsCool commented on #450
@fuzzybot Any chance you can /msg _MylesC on spigot IRC, :)?

[2016-06-24 16:06] MylesIsCool commented on #450
I've looked into this issue and can't see anywhere in ViaVersions code that this would be caused.

What's the cause? It's something with Network stuff being modified upon login (The NetworkManager to be precise)

As for why it's not ViaVersion:

We inject our Initializer into the netty pipeline, this is for netty and then add our magical encoders to convert packets.

We never touch NetworkManagers

[2016-06-24 16:06] #450 closed

[2016-06-25 09:07] smessie opened #453 "console errors bungeecord and spigot"
### What version of ViaVersion are you using? Type /ver viaversion
I'm using the latest version downloaded on SpigotMC

### What version of Spigot are you using? Type /ver
Spigot 1.8.8 and latest bungeecord version

### What plugins are you using? Type /plugins
See console log

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as

[2016-06-25 09:10] Matsv commented on #453
The first problem:
Disable auto-team in the ViaVersion config.

The second problem:
One of your plugins is sending invalid metadata, you can disable this informative warning by changing 'suppress-metadata-errors' to true in the ViaVersion config.

[2016-06-25 09:49] Matsv commented on #217
This is a bug inside Spigot 1.8.x, also happens on a 1.8 client.
We'll not fix this.

[2016-06-25 09:49] #217 closed

[2016-06-25 09:54] Matsv commented on #453
I'm going to close this, let me know if you still have any issues after changing those config values.

[2016-06-25 09:54] #453 closed

[2016-06-25 11:23] #420 closed

[2016-06-25 12:51] haelexuis commented on #451
Ah, I have 1.9 R1..

[2016-06-25 12:52] Matsv commented on #451
Could you give me the full output of /ver ViaVersion and /ver

[2016-06-25 15:58] MylesIsCool commented on #451
Closing this as it's down to you using 1.9.2 which is not supported, watch the above pull request for progress.

This is a good reason why you should fill out the issue template.

[2016-06-25 15:58] #451 closed

[2016-06-26 09:49] C-Gaming opened #454 "Invalid JSON String"
What version of ViaVersion are you using? **0.9.3**

What version of Spigot are you using? **1.8.8-R0.1**

What plugins are you using? Conflict with **TokenEnchant** it seems

Are you using any additional software like BungeeCord? Yes, but that is not the issue it seems

How does this error happen? Creating an Enchantment Sign for TokenEnchant

Is there an error in the console? http://pastebin.com

[2016-06-26 09:53] Matsv commented on #454
The TokenEnchant plugin is sending invalid json data. Contact the TokenEnchant developer.

[2016-06-26 10:12] Matsv commented on #454
I took a small look at it, turns out he is not trying to send json, but has similar syntax.
Could you try if this patch works for you? https://fs.matsv.nl/files/ViaVersion-0.9.5-SNAPSHOT.jar

[2016-06-26 10:14] C-Gaming commented on #454
Ohh haha lol, ill try it now :)

[2016-06-26 10:17] C-Gaming commented on #454
The variable is stuck on {ench_cost} until you interact, after that it works :p

[2016-06-26 10:17] Matsv commented on #454
And that doesn't happen on 1.8?

[2016-06-26 10:18] C-Gaming commented on #454
Oh i'm using 1.9 rn lol

[2016-06-26 10:18] C-Gaming commented on #454
Possible to add you on Skype? Easiest

[2016-06-26 10:19] Matsv commented on #454
I'm sorry, I don't really like to add random people on Skype. However, you can join Gitter with your GitHub account to chat -> https://gitter.im/Matsv

[2016-06-26 10:30] Matsv commented on #454
Fixed next version.

[2016-06-26 10:30] #454 closed

[2016-06-28 13:34] TheIntelloBox commented on #222
When is it fixed ?

[2016-06-28 13:35] MylesIsCool commented on #222
Not going to be fixed, so going to lock this issue.

Why? Because there's no easy fix as far as i'm aware. And it's to do with how arrows are sent being changed on the client.

[2016-06-28 13:37] #222 closed

[2016-06-28 13:53] Matsv commented on #310
Does this still occur with the latest ViaVersion?

[2016-06-29 12:20] lenis0012 commented on #310
Remember when i said "what a weird bug"?
I thought he meant the lillypad block.
lol

[2016-06-29 17:41] Callahhh opened #457 "Internal Exception: io.netty.handler.codec.DecoderException"
### What version of ViaVersion are you using? Type /ver via version
0.9.4
### What version of Spigot are you using? Type /ver
spigot 1.8.8
### What plugins are you using? Type /plugins
Custom coded // pretty sure it won't help in this case.
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
Hexachord 1.7 - 1.10
### How do

[2016-06-29 17:48] MylesIsCool commented on #457
This error looks short and a plugin list would be nice.

[2016-06-29 18:04] Callahhh commented on #457
That was the error, there was nothing else.
Core plugin, kitpvp plugin, Protocol Support and ViaVersion

[2016-06-29 18:05] MylesIsCool commented on #457
@Callahhh Does it happen without ProtocolSupport? and it feels like there should be 1 more line?

[2016-06-29 18:08] Callahhh commented on #457
I just noticed it in console and thought I'd report it, but I haven't seen it since. There was nothing before or after it, sadly.

[2016-06-29 18:10] MylesIsCool commented on #457
I can't really help if there's no other info unfortunately

[2016-06-29 18:12] Callahhh commented on #457
Alright.

[2016-06-30 15:37] BestMark commented on #457
I have same problem. Please, help to resolve it.

[2016-06-30 15:39] Matsv commented on #457
@BestMark Could you give us all the info we need? (https://github.com/MylesIsCool/ViaVersion/blob/master/ISSUE_TEMPLATE.md)

[2016-07-01 15:18] Maxqia opened #458 "Sponge Port"
Do you have any plans for porting ViaVersion to the Sponge API? I'd really like to use this plugin on my Sponge Servers.

[2016-07-01 15:21] MylesIsCool commented on #458
See

https://forums.spongepowered.org/t/1-9-clients-connecting-to-1-8/12210/7?u=myles

It's a lot of work to do unfortunately, hence we'd only do it if there was sufficient want to make it worthwhile.

[2016-07-01 17:28] sgdc3 commented on #458
Fu** sponge! xD

[2016-07-02 21:59] wiiarctus opened #459 "Change the reload message"
Hello I want to ask if it is possible to change the kick message on a reload (Server reload, please rejoin!)? ^^

[2016-07-02 22:02] MylesIsCool commented on #459
It's there because you shouldn't reload.

We'll think about making it configurable. You should really use a plugin manager.

[2016-07-02 22:04] wiiarctus commented on #459
Do you mean something like PlugMan? If you have any others to recommend then please tell it to me because I have some problems with this and it's not working correctly..^^

[2016-07-02 22:33] MylesIsCool commented on #459
I'd never suggest unloading ViaVersion due to it's nature.

Otherwise things like PlugMan should work with other plugins.

[2016-07-03 07:17] EvilOlaf commented on #459
Like others developers you could forcefully disable the plugin when a `/reload` is detected. This way the server owner has to do a clean restart in order to get it to work again. Also with some kind a educational background ;)

[2016-07-03 09:45] Matsv commented on #310
I'm going to close this issue.
If you are still having this issue, and more information why this could be caused, you can always comment it. :smile:

[2016-07-03 09:45] #310 closed

[2016-07-03 11:15] MylesIsCool commented on #457
Can you test this issue in latest version as we performed quite a few rejigs with packet stuff @BestMark @Callahhh

[2016-07-03 20:01] L4BORG opened #461 "java.lang.NullPointerException: handler"
### What version of ViaVersion are you using? Type /ver viaversion
[code]

### What version of Spigot are you using? Type /ver
[code]

### What plugins are you using? Type /plugins
[code]

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
BungeeCord with SkinsRestorer, ServerListPlus and NuVotifier

### How does this err

[2016-07-03 20:03] Matsv commented on #461
Does it happen using the latest devbuild? http://ci.viaversion.com/job/ViaVersion/

[2016-07-03 20:06] KillerAntMC opened #462 "Compatibility for Orebfuscator"
### What version of ViaVersion are you using? Type /ver viaversion
ViaVersion version 0.9.4
### What version of Spigot are you using? Type /ver
This server is running CraftBukkit version git-PaperSpigot-"8b18730" (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)
### What plugins are you using? Type /plugins
Plugins (70): AnimatedNames, AntiAura, AuctionHouse, Banknotes, BanManager, Battle

[2016-07-03 20:18] BestMark commented on #457
This problem has fixed when I changed TacoSpigot to Spigot
Thanks

[2016-07-03 20:30] #457 closed

[2016-07-03 20:30] MylesIsCool commented on #462
Just use Spigot's built in anti xray?

[2016-07-03 20:32] KillerAntMC commented on #462
The reason I want to use Orebfuscator is because of its ProximityHider feature which hides players chest from far away to stop ChestESP. Spigot's built in X-Ray doesn't have this feature.

[2016-07-03 20:44] MylesIsCool commented on #462
What does it crash with?

Where can I obtain the version you're using?

[2016-07-03 21:16] KillerAntMC commented on #462
I'm using these: http://tcpr.ca/files/paperspigot/PaperSpigot-1.8.8-R0.1-SNAPSHOT-latest.jar
https://github.com/lishid/Orebfuscator/releases/tag/v3.0.6-R3-legacy

[2016-07-03 21:21] MylesIsCool commented on #462
"What does it crash with?"

[2016-07-03 21:37] KillerAntMC commented on #462
The crash message is either "The server you were previously on went down" or "Kicked for flying".

[2016-07-03 21:39] MylesIsCool commented on #462
Anything in your server logs?

[2016-07-03 21:57] KillerAntMC commented on #462
Nothing shows up, it just shows that the player disconnected.

[2016-07-04 08:40] L4BORG commented on #461
Nope, it's ok now (with b#57) :)

[2016-07-04 08:44] Matsv commented on #461
Thanks for testing :smile:

[2016-07-04 08:44] #461 closed

[2016-07-04 12:18] MylesIsCool commented on #449
As an update, I'm a bit stuck with getting this working.

https://github.com/MylesIsCool/ViaVersion/blob/PS1.9.4fix/src/main/java/us/myles/ViaVersion/handlers/ViaEncodeHandler.java#L40

Hopefully eventually we'll support it but newer ProtocolSupport has changed quite a bit.

[2016-07-04 12:23] MylesIsCool commented on #461
#BlameMyles

#MatsSavedUs

[2016-07-04 12:54] MylesIsCool commented on #462
I can't replicate your issue.

I'm using latest ViaVersion from ci.viaversion.com

ProtocolLib, Orefuscator, ViaVersion

I have Spigots anti-xray disabled and when using Xray it shows the ground as TNT showing it works. And chest proximity also works.

Could you try just these plugins and tell me if it works?

[2016-07-05 19:34] Kurimatzu opened #463 "ViaVersion is incompatible with both ProtocolSupport & PacketListenerAPI enabled"
### What version of ViaVersion are you using? Type /ver viaversion
ViaVersion version 0.9.7-SNAPSHOT
Author: _MylesC

### What version of Spigot are you using? Type /ver

This server is running CraftBukkit version git-Spigot-db6de12-18fbb24 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)
Checking version, please wait...
You are 349 version(s) behind

### What plugins are you using? Type

[2016-07-05 19:51] Kurimatzu commented on #463
@Matsv It is not possible to add support for them?

[2016-07-05 19:58] MylesIsCool commented on #463
Does ProtocolSupport and PacketListener work together on it's own?

[2016-07-05 20:00] Kurimatzu commented on #463
I can't say, I don't think.

[2016-07-05 20:57] MylesIsCool commented on #463
@Kurimatzu Can you test this?

[2016-07-05 21:54] Kurimatzu commented on #463
The ProtocolSupport along with the PacketListenerAPI, work perfectly.

[2016-07-05 21:58] MylesIsCool commented on #463
I'll take a look into it when I get a moment, hopefully I can get it working but load order tends to be so specific sadly

[2016-07-06 16:02] PietH96 opened #464 "bad packet ID error"
Hi,

we are using ViaVersion with the version 0.9.6 and players on our Bungee get kicked accidentally with that bad Packet ID errors in the bungeecord console:

http://hastebin.com/tapugicazu.coffee

We got no error in the spigot console.

We are using Bungeecord on the latest version at the time of my post here and Spigot with version 1.9.4.

Why does this happen?

Thanks in advance!

[2016-07-06 16:04] Matsv commented on #464
What bungee plugins do you use?

[2016-07-06 16:33] MylesIsCool commented on #464
Not ViaVersion related,

iirc this is because Minechat messed up or something on the lines of that.

[2016-07-06 16:33] #464 closed

[2016-07-06 16:34] MylesIsCool commented on #462
Going to close if no response within 2 days as can't replicate.

[2016-07-06 16:39] PietH96 commented on #464
What do you mean with "Minechat"?

[2016-07-06 16:43] MylesIsCool commented on #464
An app for your phone.

[2016-07-06 16:52] PietH96 commented on #464
In our test all players played with the PC version.

[2016-07-06 16:52] Matsv commented on #464
@PietH96 Could you try to remove some bungee plugins, see if one of them is causing it?

[2016-07-06 16:57] PietH96 commented on #464
We use only self-written plugins, none of these modifies any packet.

[2016-07-06 17:24] KillerAntMC commented on #462
Thanks! I forgot that I had ProtocolSupport when testing this and it kept crashing my players. You can close this now.

[2016-07-06 17:24] #462 closed

[2016-07-06 17:26] PietH96 commented on #464
When we remove ViaVersion, everything works perfect!

[2016-07-06 17:27] Matsv commented on #464
Does it happen without bungeecord? So connecting directly to the server you want

[2016-07-06 18:21] PietH96 commented on #464
Yes, the error also occurs without bungeecord.

[2016-07-06 18:24] Matsv commented on #464
What plugins do you use?

[2016-07-08 01:27] nathampa0909 opened #465 "Ping Issue, with ProtocolSupport"
### What version of ViaVersion are you using? Type /ver viaversion
0.9.6

### What version of Spigot are you using? Type /ver
PaperSpigot 1.8.8

### What plugins are you using? Type /plugins
http://prntscr.com/bq6qhs

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
Nop

### How does this error happen? login? Using an i

[2016-07-08 01:37] Matsv commented on #465
Could you test 2 things:

- Does it happen on normal Spigot
- Does it happen without your plugin.

I don't think we'll provide a StatusResponseEvent, I recommend you to use Protocollib to change the status.

[2016-07-08 01:41] billytheDOLPHIN opened #466 "Strange Error"
### What version of ViaVersion are you using? Type /ver viaversion
0.9.6
### What version of Spigot are you using? Type /ver
https://gyazo.com/2eedc05fee18fa40803aea66300accb0
### What plugins are you using? Type /plugins
https://gyazo.com/6e611955cb11174382243a9a5a061339
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)

[2016-07-08 01:44] Matsv commented on #466
Could you test if this still occurs using the latest devbuild? https://ci.viaversion.com/job/ViaVersion/

[2016-07-08 01:47] billytheDOLPHIN commented on #466
hmm seems to be gone.

[2016-07-08 01:48] Matsv commented on #466
Thanks for testing, fixed next version :smile:

#BlameMyles

[2016-07-08 01:48] #466 closed

[2016-07-08 02:42] nathampa0909 commented on #465
@Matsv I use ServerPingResponseEvent  of PS because motd of 1.5.2/1.6.4 is diferent of 1.7+, I will try to change this with ProtocolLib, but I dont know how to make with PL.

[2016-07-08 12:00] MylesIsCool commented on #465
I'd suggest removing plugins and testing because this sounds odd and doesn't sound ping related.

[2016-07-08 12:01] MylesIsCool commented on #466
:'(

[2016-07-08 18:07] Kurimatzu commented on #463
@MylesIsCool Did you make any progress?

[2016-07-08 18:09] MylesIsCool commented on #463
@Kurimatzu No

[2016-07-09 13:42] MylesIsCool commented on #459
In next version

[2016-07-09 13:42] #459 closed

[2016-07-09 14:21] #463 closed

[2016-07-12 13:12] BestMark commented on #465
Try to disable _late-bind_ (set it to _false_)

[2016-07-13 06:48] UraharaNZ opened #467 "Crash repport"
### What version of ViaVersion are you using? Type /ver viaversion
0.9.6
### What version of Spigot are you using? Type /ver
1.8.8 latest
### What plugins are you using? Type /plugins
https://gyazo.com/ddbf96dc3f327de41cda012e90dcffb0
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
Yeah bungeecord:  https://gyazo.com/5

[2016-07-13 13:27] MylesIsCool commented on #467
What is HisoCraft perms?

I'm certain this isn't viaversion related, it comes up as if you stopped your server at any point in time viaversion would be doing something (whether it's handling connections or translating packets)

[2016-07-13 13:41] nathampa0909 commented on #465
@BestMark Solved.

[2016-07-13 13:41] #465 closed

[2016-07-13 15:31] UraharaNZ commented on #467
HisoCraftPerms its custom plugin for permissions of our network, a guy on spigot told me its viaversion issue :S

[2016-07-13 16:05] MylesIsCool commented on #467
The main thread is what gets locked in a crash like this so usually it's the stack trace at the top. I'd consult the guy who made the permission plugin and ask if he can see the cause.

[2016-07-13 16:05] #467 closed

[2016-07-14 17:44] Kurimatzu opened #468 "[PacketListenerAPI] io.netty.handler.codec.EncoderException"
### What version of ViaVersion are you using? Type /ver viaversion
ViaVersion version 0.9.8-SNAPSHOT
Author: _MylesC
### What version of Spigot are you using? Type /ver

This server is running CraftBukkit version git-PaperSpigot-"4c7641d" (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins

 Plugins (3): PacketListenerApi, ProtocolSupport, ViaV

[2016-07-14 18:37] MylesIsCool commented on #468
Are you sure this is PacketListenerAPI?

I've been told PS doesn't work properly on Paper.

Can you test without Via? Without PacketListener? etc

[2016-07-14 18:40] Kurimatzu commented on #468
Plugins (2): ProtocolSupport, ViaVersion

I tested without PacketListenerAPI, the error still continues.
1.7 client with forge.

[2016-07-14 18:41] MylesIsCool commented on #468
"I've been told PS doesn't work properly on Paper."

[2016-07-15 17:17] haelexuis opened #469 "FAQ"
Do you have FAQ? I try found when comes out 1.10 update.

[2016-07-15 17:18] Matsv commented on #469
The 1.10 update is already out, use the latest version.

You can find the FAQ here:
https://www.spigotmc.org/resources/viaversion.19254/

If you use BungeeCord, make sure you update it to the latest version.

[2016-07-15 17:18] #469 closed

[2016-07-15 17:20] haelexuis commented on #469
It works on 1.10 server? :O
- You can use a 1.8-1.9.4 server and allow 1.10 to connect.

[2016-07-15 17:22] Matsv commented on #469
Oh yeah correct.

We aim to support a newer client version on an older server version.
We'll never allow older versions on a newer server (Between major versions).
You'll be able to allow 1.11 on your 1.10 server when it comes out.

If you want backwards compatibility, you could take a look at ProtocolSupport. :)

[2016-07-15 17:24] haelexuis commented on #469
ProtocolSupport has bugged Sounds, I write sounds correct but they doesn't care.

[2016-07-15 17:25] Matsv commented on #469
Yeah, you'd have to wait for the developer to remap it.
I see you already created a ticket :) https://github.com/ProtocolSupport/ProtocolSupport/issues/221

[2016-07-15 17:30] haelexuis commented on #469
Ok, but is there big changes between 1.9 and 1.10? I think it is maybe month out and ProtocolSupport still doesn't support it.

[2016-07-15 17:40] Matsv commented on #469
The changes are smaller than previous versions.
However ProtocolSupport is a big free project and maintained by only one person. He/she also has other things to do next to ProtocolSupport. Be easy on him/her :smile:

[2016-07-15 17:45] haelexuis commented on #469
It looks like big project :D

[2016-07-16 09:05] StoreMaker opened #470 "An error occurred with entity meta data for PLAYER OldID: 5"
### What version of ViaVersion are you using? Type /ver viaversion
ViaVersion version 0.9.7

### What version of Spigot are you using? Type /ver
http://imgur.com/IgKwKP2

### What plugins are you using? Type /plugins
http://imgur.com/oIqROb4

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
Not using BungeeCord , only s

[2016-07-16 09:07] Matsv commented on #470
One of your plugins is sending invalid metadata.

You can disable this informative exception by changing 'suppress-metadata-errors' to true in the ViaVersion config.

[2016-07-16 09:07] #470 closed

[2016-07-17 22:41] MylesIsCool commented on #468
Closing see above.

[2016-07-17 22:41] #468 closed

[2016-07-20 06:05] jmcmullen commented on #449
+ 1

[2016-07-20 16:17] Cecer commented on #458
Just throwing in that this is something that would've potentially helped out a few things in the past where Spigot/Bukkit were not a reasonable option but Sponge was.

[2016-07-20 16:30] MylesIsCool commented on #458
@Cecer for example?

[2016-07-20 16:34] Cecer commented on #458
It's not something I am at liberty to disclose, sorry. By no means would my needs alone warrant the effort for a sponge port but consider me interested in seeing it happen if enough other people are too.

[2016-07-20 17:22] MisterJW123 opened #471 "Curiosity"
Just as a curiosity how hard would it be to add 1.7.10 to the list?

Sorry I don't know where else to put this

[2016-07-21 18:36] MylesIsCool commented on #471
As replied a billion times in other places,

We're not officially going to make it, you can do as you wish. If you want 1.7, use 1.8.8 server + via + protocolsupport.

Something like that would take 50+ dedicated hours to make test and debug. If you want to do that yourself, you can feel free to but we have no plans to create it.

[2016-07-21 18:36] #471 closed

[2016-07-23 16:25] Kurimatzu opened #473 "[Suggestion] 1.1.0 for other versions"
Would it be possible to add support for other versions?
(if the server is on, release 1.1.0 support, 1.8, 1.9 1.7, 1.6, 1.5)

The ProtocolSupport, stopped being updated, (in addition to be very buggy, sounds do not work, etc)

The ViaVersion is higher, contains optimizations that the ProtocolSupport doesn't have.

Would it be possible to study this possibility?

[2016-07-23 16:42] Matsv commented on #473
Hi,

We'll not officially support older version/backwards compatibility between major versions.
The aim of ViaVersion is to allow a newer client on an older server.

Know that backwards compatibility is way more work. You'd have to handle things that didn't exist in previous minecraft versions.

ProtocolSupport has a devbuild that supports 1.10 IIRC.

[2016-07-23 16:42] #473 closed

[2016-07-25 02:31] sgtcaze opened #474 "PacketPlayOutScoreboardTeam on 1.8 Spigot"
### What version of ViaVersion are you using? Type /ver viaversion
0.9.7

### What version of Spigot are you using? Type /ver
Both 1.8.8 and 1.9.4 spigot were tested. 1.8.8 spigot is affected. 1.9.4 works fine.

### What plugins are you using? Type /plugins
NametagEdit and ViaVersion

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plu

[2016-07-25 17:45] MylesIsCool commented on #474
Have you tried with autoteam off?

[2016-07-25 17:46] MylesIsCool commented on #449
Sadly no progress on this, had a fiddle the other day and in my branch Chunk packets seem to do something weird. :(

[2016-07-25 18:17] sgtcaze commented on #474
@MylesIsCool ah this works! I'll let our users know.

[2016-07-25 18:17] #474 closed

[2016-07-27 15:55] IlPicasso opened #475 "Internal Exception: io.netty.handler.codec.EncoderException: java.lang.RuntimeException: An internal error occured."
### What version of ViaVersion are you using? Type /ver viaversion

[11:49:46 INFO]: ViaVersion version 0.9.7

### What version of Spigot are you using? Type /ver

This server is running CraftBukkit version git-Spigot-db6de12-18fbb24 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)
[11:50:33 INFO]: Checking version, please wait...
[11:50:33 INFO]: You are 377 version(s) behind

### What

[2016-07-27 15:56] Matsv commented on #475
Can you change debug->true in server.properties and give us the full error?

[2016-07-29 18:10] joecoolmc opened #476 "Hand Twitching"
### What version of ViaVersion are you using? 0.9.7

### What version of Spigot are you using? 1.8-RO.1-SNAPSHOT

### What plugins are you using? https://gyazo.com/48d5fe931581307325887648a821d0e4

### Are you using any additional software like BungeeCord? No

### How does this error happen? login? Using an item? When I hold an item in 1.10 and 1.9 the item twitches this does not happen with an em

[2016-07-29 18:16] Matsv commented on #476
You mean while interacting the item goes up and down?

[2016-07-29 18:45] MylesIsCool commented on #476
You're using a plugin that updates your inventory.

This is a "feature" of 1.9, you'd have to contact the author of it to stop the twitching, it'll be a plugin modifying your hand constantly. (I'm not sure which it could be, most likely EssentialsHub)

Closing as it sadly isn't fixable

[2016-07-29 18:45] #476 closed

[2016-08-01 13:18] MylesIsCool commented on #475
Going to close in 2 days if no response, either above & test latest version.

[2016-08-02 17:03] Misat11 opened #477 "Connection error"
Hi,
Whenever i am trying to connect from a different version than 1.9, I can not connect to the server.
On older viaversion 0.9.4 connection works without a problem.

Minecraft version: 1.9.4
ViaVersion: 0.9.8

In console:
[12:25:12] [Server thread/INFO]: Misat11 lost connection: Internal Exception: java.io.IOException: Error while write(...): Broken pipe

In luncher:
[12:25:19] [Client thread/FAT

[2016-08-02 17:04] MylesIsCool commented on #477
Please fill in the issue template seen at:
https://github.com/MylesIsCool/ViaVersion/blob/master/ISSUE_TEMPLATE.md

Otherwise this info is not useful.

[2016-08-02 17:11] Misat11 commented on #477
Plugins:
[INFO] Plugins (50): Emoticons, CustomHelpPages, BarAPI, OnlyProxy, BungeePerms, NameHistory, SortingHopper_Precise, ViaVersion, Color4Signs, MountMe, dynmap, WorldEdit, Skript, AdvancedRespawn, SkinsModule, Essentials, PacketListenerApi, BukkitCompat, Modifyworld, MultiCommand, WeatherGod, LaggRemover, ProtocolLib, Multiverse-Core, broad-cast, EssentialsChat, iConomy, WarpSigns, Multiver

[2016-08-02 17:14] MylesIsCool commented on #477
Are you using any BungeePlugins?

[2016-08-02 17:22] Misat11 commented on #477
In bungeecord i'm using
BConfReloader, BungeeAuthMeBridge, BungeeBroadCaster, BungeeJoinMessages, BungeeMSG, BungeePerms, BungeePluginManager, BungeeRcon, BungeeTools-HubCommand, Globaltablist, ServerListPlus, SkinsRestorer, VersionConnector, Yamler

[2016-08-02 17:28] MylesIsCool commented on #477
Try without SkinRestorer, and see if it still happens.

Otherwise try removing other plugins (test if the issue happens without bungee if you can).

[2016-08-02 17:36] Misat11 commented on #477
It works. :)
_(But I need this plugin, you do not know any compensation?)_

[2016-08-02 17:39] #477 closed

[2016-08-03 16:39] #475 closed

[2016-08-04 04:36] MistriHD opened #478 "Right Clicking Signs [ServerSigns] Not Working"
### What version of ViaVersion are you using? Type /ver viaversion
0.9.7
### What version of Spigot are you using? Type /ver
PaperSpigot 1.8.8
### What plugins are you using? Type /plugins
WorldEdit, Custom Spawn Plugin, BungeeBridgeC, ViaVersion, WorldGuard, ProtocolLib, NoCheatPlus, Custom Core Plugin, Custom Shop Plugin, EditableSign, ServerSigns, HolographicDisplays, Minigame Plugin
### Are yo

[2016-08-04 20:01] Matsv commented on #478
Could you test if this happens while interacting with:

* an empty slot
* an item with some use like a fishing rod

[2016-08-05 00:30] saucequan commented on #69
I know this is closed, however I decided to test this again with SportBukkit and it works flawelessly. I'm not sure if this was an issue you fixed unconsciously or not. Either way, great job!

[2016-08-05 00:32] Matsv commented on #69
@saucequan great to hear that :)

[2016-08-05 04:50] MistriHD commented on #478
Update, it actually doesn't work on any versions (1.8, 1.9, or 1.10). I thought it was only 1.8 working, but apparently not.

[2016-08-05 11:36] BadassDevelop commented on #428
How could I fix this?

[2016-08-05 17:18] BadassDevelop commented on #428
I don't have a backup for it.

[2016-08-05 17:20] Matsv commented on #428
@BadassDevelop Downgrading your server without having a backup is dangerous, it can cause several problems like world corruption. We cannot support you for this issue. You might want to try looking around/asking on the Spigot forums.

[2016-08-05 17:25] Matsv commented on #478
@MistriHD It's in that case not a ViaVersion issue sadly. We do only modify the clients for higher versions. You might want to contact the developer from that plugin.

[2016-08-05 17:25] #478 closed

[2016-08-05 17:53] BadassDevelop commented on #428
I never ran my server on 1.9... which is why I didn't take a backup... it's a fresh 1.8.8 world running on a PaperSpigot server 1.8,8

[2016-08-05 18:07] EvilOlaf commented on #428
Then you may not mind setting up your server from scratch.

[2016-08-05 18:29] BadassDevelop commented on #428
It's exactly that, however, pasting in my spawn (built on a flat world) takes nearly two hours because of it being so huge. I was hoping there a quick solution to it.

[2016-08-06 11:23] checkplys opened #480 "Packet Limiter Problems"
Well, this issue isn't from server point of view, it's from player.
I'm from portugal, and I get high ping on a lot of US/Canada or brazilian servers.
So, what happens, is that when I join, I lag and when it stabilize the lag, well, I get kick from ViaVersion packet limiter.
I know that's an option to make packet limiter allow more packets per second, but contacting server owners isn't that easy,

[2016-08-06 19:41] MylesIsCool commented on #480
We can't change existing configs, so we can't solve the issue. It was actually raised previously because of this.

[2016-08-08 14:17] #480 closed

[2016-08-09 20:47] L4BORG opened #481 "False kicks "You are sending too many packets!""
### What version of ViaVersion are you using? Type /ver viaversion
[code]

### What version of Spigot are you using? Type /ver
[code]

### What plugins are you using? Type /plugins
[code]

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
BungeeCord #1176, "original" SkinsRestorer from (https://github.com/Shevchik/SkinsR

[2016-08-10 12:20] MylesIsCool commented on #481
1. # Learn to use Pastebin. ### (or gist)

2. Read the config and configure the packet limiter, and the docs: https://docs.viaversion.com/display/VIAVERSION/Configuration

3. You either are using a bad build / bad config. I've never found the cause of which option causes exceptions to wrongly be thrown but not using paper / resetting the config (spigot.yml / paper.yml) seems to fix it.

I've never

[2016-08-10 12:20] #481 closed

[2016-08-10 12:21] MylesIsCool commented on #481
I'll happily take up further responses but this isn't a fault in via unfortunately.

[2016-08-10 15:15] Matsv opened #482 "1.11 Roadmap"
## Please report any issues you have with the 1.11 build in the comments.

You might have noticed that there is a '[1.11-DEV' branch](https://github.com/MylesIsCool/ViaVersion/tree/1.11-DEV). We are following the development of 1.11 to be compatible with it when it gets released.

**Please know that this builds might be unstable and are not meant for production use.**

_We'll only support the late

[2016-08-10 15:21] MylesIsCool commented on #482
Currently the release seems to be playable, things like Zombie Villagers don't appear to be showing up as Villagers but Zombies (due to entity id changes).

[2016-08-10 17:05] MylesIsCool commented on #482
As an update, we've finished documenting the changes to Metadata (me & Mats):

http://wiki.vg/Pre-release_protocol

[2016-08-11 12:01] Matsv opened #483 "InteractEvent not called when right-clicking a sword with shields enabled on server version 1.8.x"
### ViaVersion
0.9.8

### Affected server versions
Spigot/CraftBukkit 1.8-1.8.8

### Plugins
ViaVersion

The packet gets canceled here for the shield: [WorldPackets.java](https://github.com/MylesIsCool/ViaVersion/blob/master/src/main/java/us/myles/ViaVersion/protocols/protocol1_9to1_8/packets/WorldPackets.java#L273). It's probably caused by this.

Bug reported by **TommyHoogstra** on Spigot.
Creat

[2016-08-14 01:20] Zenoxez opened #484 "ViaVersion Broke 2 of My plugins"
### What version of ViaVersion are you using? Type /ver viaversion

0.9.8

### What version of Spigot are you using? Type /ver

This server is running CraftBukkit version git-Spigot-c3c767f-33d5de3 (MC: 1.8) (Implementing API version 1.8-R0.1-SNAPSHOT)

### What plugins are you using? Type /plugins

CoreProtect, Drugs, WorldEdit, CustomPermissionMessages, Essentials, PlugMan, PlayTime, Votifier, W

[2016-08-14 04:11] Lmmb74 commented on #484
Have you checked that the versions of that plugins are 1.8 compatible, and that the given items are not 1.9 or 1.10 only?

[2016-08-14 06:24] EvilOlaf commented on #484
Did you downgrade your server software from 1.10 to 1.8 or your client?

[2016-08-14 07:58] Matsv commented on #484
ViaVersion does not modify anything that could cause this.
Downgrading your server is dangerous, it could lead to several issues like world corruption and not working plugins because they are made for a higher version. You can try removing ViaVersion and see if it works again, but I doubt it. This is probably caused by downgrading your server.

[2016-08-14 07:59] #484 closed

[2016-08-18 16:31] KillerAntMC commented on #462
Hello, can this be reopened? The last time I tested this was without bungeecord, now I know that this error happens when you have protocollib, orebfuscator, and viaversion while running under bungeecord. I'm also using paper spigot 1.8.8 but the error only shows up in bungeecord.

This is the error on my bungeecord log: http://pastebin.com/heVu3NHB

Everything works fine with someone that is 1.8 j

[2016-08-18 20:22] MylesIsCool commented on #462
@KillerAntMC If you're able to test this localhost and use /viaver debug and replicate it would be useful. (As that would provide the packets before the kick)

[2016-08-18 23:23] KillerAntMC commented on #462
This is what the console says when debugging is enabled: http://pastebin.com/b15kYJiv

[2016-08-20 05:22] TiTo-418 commented on #482
Hey, 1.11 clients can't join the server, these are the logs http://pastebin.com/SV85Hyes
And this is the kick msg http://prntscr.com/c80u2y

[2016-08-20 05:37] Lmmb74 commented on #482
Hey man, that is sportbukkit. So it might be caused by that.

[2016-08-20 08:08] Matsv commented on #482
@TiTo-418 I can't reproduce the issue. Please try to debug it, remove some plugins and try to use normal Spigot.

[2016-08-21 16:07] WoophRadu opened #486 "Banners are pitch black upon relogging to the server."
### What version of ViaVersion are you using? Type /ver viaversion
0.9.8
### What version of Spigot are you using? Type /ver
git-Spigot-e4d4710-e1ebe52 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)
### What plugins are you using? Type /plugins
https://i.gyazo.com/a76c97b585919df0f0724fb1d7d02cd3.png
### Are you using any additional software like BungeeCord? If so, what software and ve

[2016-08-21 16:28] Matsv commented on #486
Can't reproduce this.

Could you try using normal Minecraft without mods?

[2016-08-21 17:46] MeGysssTaa opened #487 "Could not find a valid metadata"
### What version of ViaVersion are you using? Type /ver viaversion
0.9.8
### What version of Spigot are you using? Type /ver
1.8.8_R0.1
### What plugins are you using? Type /plugins
ProtocolLib, ViaVersion, Reflex, NoCheatPlus
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
I don't.
### How does this error happen? logi

[2016-08-21 17:48] Matsv commented on #487
Could you give the console error? You pasted the same link twice

[2016-08-21 17:59] MeGysssTaa commented on #487
Oh, sorry =\
Here it is: http://prnt.sc/c8k7xj

[2016-08-21 18:03] Matsv commented on #487
Looks like one of your plugins is sending wrong metadata, probably Reflex, we can't help you sadly since the plugin is closed-source.

You could contact the author and ask him/her to send valid metadata for the npcs.
**1.8 metadata:** http://wiki.vg/index.php?title=Entities&oldid=7375#Human

[2016-08-21 18:03] #487 closed

[2016-08-21 18:31] MeGysssTaa commented on #487
Will players still get kicked if I enable 'suppress-metadata-errors'?

[2016-08-21 18:31] Matsv commented on #487
Probably yeah, it'll only hide the console exception

[2016-08-21 19:46] KillerAntMC commented on #462
I've tried different bungeecord versions and it's still giving me the same error.

[2016-08-21 22:02] MylesIsCool commented on #462
@KillerAntMC If you try just orefuscator without protocollib (as a test) does it still happen?

[2016-08-21 22:56] KillerAntMC commented on #462
It's fixed when protocollib isn't enabled.

[2016-08-21 23:26] Matsv commented on #462
This is something that needs to be fixed in Orefuscator. The issue is most likely that it's not registered as async.

[2016-08-22 00:22] WoophRadu commented on #486
Yeah I tried. And I managed to reproduce it. But it's not like what I initially explained.
If you place some banners in chunk A and some in chunk B and you delog in chunk A, the banners in chunk A will keep their colors, but those in chunk B (and most of other chunks) are all black. (I tested in multiple locations around my world, same result)

[2016-08-22 00:24] Matsv commented on #486
Could you use this (http://myles.us/ViaVersion/BKCommonLib.jar) build of bkcommonlib or try to remove it completely? I'm pretty sure it's caused by that, same issue occurred with signs at the time. That build should fix it.

[2016-08-22 00:30] WoophRadu commented on #486
I was always using that build of BKCommonLib, because that's what you said on the Spigot page. I redownloaded that jar just to make sure, still was able to reproduce it. Removed it, still reproduced. Happened with signs too from what I'm remembering, didn't test yet.

[2016-08-22 00:31] Matsv commented on #486
Could you try to debug it? Remove some plugins and see which one is causing it?

[2016-08-22 00:37] WoophRadu commented on #486
Yup, found it with my first guess. It's Skyoseasons. Basically, this is a seasons plugin that hooks into ProtocolLib and changes the chunks' biomes to certain config-set biomes, but just for the player (the world doesn't actually get modified). This happens at evey season-change, but also at **server startup**, which is where I'm guessing the confilct comes from. If you guys can do nothing about i

[2016-08-22 00:45] Matsv commented on #486
That plugin doesn't register the chunk packets listener as async, this will probably cause the problem (also did with BKCommonLib). Link: https://github.com/Skyost/Skyoseasons/blob/master/src/fr/skyost/seasons/utils/packets/Listener3.java

[2016-08-22 00:45] #486 closed

[2016-08-22 08:59] Matsv commented on #483
Going to close this, trying to fix this will break more things than it solves.

[2016-08-22 08:59] #483 closed

[2016-08-22 14:12] KingHorse2015 opened #488 "Scoreboard invisible after death or world switch"
### What version of ViaVersion are you using? Type /ver viaversion
Version 0.9.8

### What version of Spigot are you using? Type /ver
1.8.8

### What plugins are you using? Type /plugins
`Plugins (33): AsyncWorldEditInjector, WorldEdit, TuxTwoLib, Frame_Protector, SurvivalGames, FarmProtect, WorldGuard, Multiverse-Core, RogueParkour, AsyncWorldEdit, VoidGenerator, OpToggle, iConomy, PermissionsEx,

[2016-08-22 14:13] Matsv commented on #488
Does this also happen on 1.8?

[2016-08-22 14:15] KingHorse2015 commented on #488
Yes

[2016-08-22 14:16] Matsv commented on #488
It's not a ViaVersion issue in that case. We do only modify 1.9 and higher on spigot 1.8.8.

Contact the author from the scoreboard plugin.

[2016-08-22 14:16] #488 closed

[2016-08-22 14:23] KingHorse2015 commented on #488
You are right, not a problem of viaversion, just removed from the server, same issue

[2016-08-22 15:33] Matsv commented on #488
No worries :)

[2016-08-22 22:13] MylesIsCool commented on #462
https://github.com/MylesIsCool/Orebfuscator <- has links you need.

[2016-08-23 07:01] KillerAntMC commented on #462
Thank you!

[2016-08-23 11:18] PixlByte opened #489 "Internal Exception: io.netty.handler.codec.EncoderException"
Hello,

I have a problem, if i try to join my server then i got kicked! In my console is shown this:

[13:16:35] [Server thread/WARN]: [ViaVersion] You are running a development version, please report any bugs to GitHub.
[13:16:42] [Thread-23/INFO]: UUID of player PixlByte is 97d8882e-c5ea-49fd-b5f9-6f1b69b953ff
[13:16:43] [Server thread/INFO]: PixlByte[/95.90.248.167:59250] logged in with entity

[2016-08-23 11:19] Matsv commented on #489
Please fill in the issue teplate, it's there for a reason (https://github.com/MylesIsCool/ViaVersion/blob/master/ISSUE_TEMPLATE.md)

[2016-08-23 11:26] Matsv commented on #489
What is the disconnect message and the full error in the console?

[2016-08-23 11:27] PixlByte commented on #489
[13:16:35] [Server thread/WARN]: [ViaVersion] You are running a development version, please report any bugs to GitHub.
[13:16:42] [Thread-23/INFO]: UUID of player PixlByte is 97d8882e-c5ea-49fd-b5f9-6f1b69b953ff
[13:16:43] [Server thread/INFO]: PixlByte[/95.90.248.167:59250] logged in with entity id 770 at ([Lobby]66.0, 64.0, -396.0)
[13:16:43] [Netty Epoll Server IO #0/ERROR]: java.lang.NullPoint

[2016-08-23 11:28] Matsv commented on #489
Could you enable debug=true in server.properties and paste the full error stack?

[2016-08-23 11:28] PixlByte commented on #489
Jap :)

[2016-08-23 11:30] PixlByte commented on #489
`[13:29:41] [Server thread/INFO]: [ViaVersion] ViaVersion detected server version: 1.8.x(47)
[13:29:41] [Craft Scheduler Thread - 21/INFO]: [NoCheatPlus] Added hook: AllViolations(NCP) [1.0].
[13:29:41] [Server thread/INFO]: [Citizens] 3 NPCs geladen.
[13:29:41] [Server thread/WARN]: [ViaVersion] You are running a development version, please report any bugs to GitHub.
[13:29:52] [Thread-29/INFO]:

[2016-08-23 11:31] PixlByte commented on #489
[13:29:41] [Server thread/INFO]: [ViaVersion] ViaVersion detected server version: 1.8.x(47)
[13:29:41] [Craft Scheduler Thread - 21/INFO]: [NoCheatPlus] Added hook: AllViolations(NCP) [1.0].
[13:29:41] [Server thread/INFO]: [Citizens] 3 NPCs geladen.
[13:29:41] [Server thread/WARN]: [ViaVersion] You are running a development version, please report any bugs to GitHub.
[13:29:52] [Thread-29/INFO]: U

[2016-08-23 11:31] Matsv commented on #489
Please try to use something like hastebin.com in the future for logs.

[2016-08-23 11:31] PixlByte commented on #489
Okay sorry

[2016-08-23 11:32] Matsv commented on #489
Please try this build of BKCommonLib (http://myles.us/ViaVersion/BKCommonLib.jar)
If it still happens after that, try to debug it, remove some plugins until you can join and see which one is causing it.

[2016-08-23 11:42] PixlByte commented on #489
Now i know whats the problem was.. Citizens has made problems, i spawned an entity and i got kicked, wtf?

[2016-08-23 11:44] Matsv commented on #489
Make sure to use a version that's compatible with 1.8.8

[2016-08-23 11:45] PixlByte commented on #489
Jep i will do, but thanks for your support bud :)

[2016-08-23 11:45] Matsv commented on #489
Link: https://dev.bukkit.org/bukkit-plugins/citizens/files/52-2-0-16-beta-1-for-mc-1-8-8/

[2016-08-23 11:45] #489 closed

[2016-08-25 15:37] TheIronMinerLv opened #490 "Update check error while joining"
### What version of ViaVersion are you using? Type /ver viaversion
0.9.8
### What version of Spigot are you using? Type /ver
PaperSpigot-"4c7641d" (MC: 1.8.8)
### What plugins are you using? Type /plugins
I'll send my plugins private, if necessary (about 60plugins)
### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
Right

[2016-08-25 15:38] Matsv commented on #490
We are aware of this issue, it's a problem at the third-party API (Spiget), we hope it'll be solved soon. You can ignore it for now or disable the update checker in the config.

I keep this issue open until it's fixed at Spiget's side

[2016-08-25 15:55] Matsv commented on #490
We released ViaVersion 0.9.9, that uses Spiget API v2. That'll fix this issue.

[2016-08-25 15:55] #490 closed

[2016-08-25 16:08] TheIronMinerLv commented on #490
Thanks!

[2016-08-26 17:52] TheIntelloBox commented on #482
Hello,

When I download the alpha-version (with 1.11), I can't join the server with 1.11 (the latest snapshot) because there are too many packets. Try to see with NoCheatPlus, I think it's the problem.

[2016-08-26 17:53] Matsv commented on #482
@TheIntelloBox could you give us the link of /viaver dump and tell us the exact message when you get kicked?

[2016-08-27 07:48] TheIntelloBox commented on #482
http://hastebin.com/pinosepone.cpp
Error : internal exception io.netty.handler.codec.decoderexception java.io.exception:Packet69 (id) was larger than I excepted, found 11 bytes extra whilst reading packet 69

[2016-08-27 08:05] Matsv commented on #482
@TheIntelloBox On what versions does this happen?

[2016-08-27 08:21] TheIntelloBox commented on #482
I don't want that all my players see my plugins so I edited the list.

This happens on the latest snapshot : 16w33a. :)

[2016-08-27 08:23] Matsv commented on #482
Could you send your full dump privately to me in that case? https://gitter.im/Matsv
We can't help you without the full list.

[2016-09-03 14:51] zobos opened #491 "Fireworks damaged server login problem."
I was trying to spawn Fireworks using a command and then when I tried a command the whole server shutdown and I got the kicked (No message) now whenever you try to join it just kicks you out again.

Dump: [http://pastebin.com/A6uWySpG](http://pastebin.com/A6uWySpG)

`[14:43:55 INFO]: <name> logged in with entity id 23 at ([world]294.7289658648908, 103.0, 254.30282461775317)
[14:43:56 ERROR]: java.

[2016-09-03 15:31] MylesIsCool commented on #491
Could you follow the Issue Template?

https://github.com/MylesIsCool/ViaVersion/blob/master/ISSUE_TEMPLATE.md

[2016-09-10 08:31] Matsv commented on #491
Closing this issue because you didn't respond within 1 week.

If you still need help, please provide us the info we need and ask a reopen.

[2016-09-10 08:31] #491 closed

[2016-09-12 23:57] L4BORG opened #493 "Invalid JSON String: "{}[]{}[]{}[]{}[]{}""
### What is the output link of /viaversion dump?
http://hastebin.com/ugemedalak.json

### Are you using any additional software like BungeeCord? If so, what software and version? (Please
BungeeCord (latest) with ServerListPlus (latest), SkinsRestorer (Shevchik's version) and NuVotifier (latest)

### How does this error happen? login? Using an item?
Randomly from what I saw so far.

### Is there an

[2016-09-12 23:59] L4BORG commented on #493
[code]

[2016-09-13 15:02] MylesIsCool commented on #493
You're using a plugin that's sending this data. I'd suggest you work out what it is and remove it, we can't help if you're using a plugin sending bad data.

[2016-09-13 23:11] L4BORG commented on #493
Any tips on how can I identify that plugin? The issue is somewhat random...

[2016-09-16 14:35] xXCalleManXx opened #499 "Login error thing"
### What is the output link of /viaversion dump?
http://hastebin.com/fexivorisu.json

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
Spigot

### How does this error happen? login? Using an item?
Login

### Is there an error in the console? Use pastebin.com. Is there a kick message?
http://pastebin.com/Fw6Xe5gw

[2016-09-16 14:40] Matsv commented on #499
Could you try if this still happens now?

[2016-09-16 15:25] Matsv commented on #499
Should be fixed now, Mojang pushed a wrong change to their authentication server. Ask a reopen if the problem still occurs for you.

[2016-09-16 15:25] #499 closed

[2016-09-18 08:22] kirill3345 opened #500 "Player crashes - InventoryClickEvent (ViaVersion 1.11)"
### What is the output link of /viaversion dump?
?

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
LiteGameCreative, LiteGameAntiCheat, ViaVersion-1.11

### How does this error happen? login? Using an item?
InventoryClickEvent

### Is there an error in the console? Use pastebin.com. Is there a kick message?
"[Server t

[2016-09-18 11:30] MylesIsCool commented on #500
"What is the output link of /viaversion dump?"

Please complete the full error, also please pastebin.com the full error.

[2016-09-18 11:31] MylesIsCool commented on #493
Remove plugins? Honestly can't really help other than the above.

Ensure they're up to date, ish?

The best idea is to try and work out when it happens or if there's anything useful before that error in the console like a player typing a command.

[2016-09-18 11:31] #493 closed

[2016-09-18 14:09] kirill3345 commented on #500
http://pastebin.com/WqZc0rPc

[2016-09-18 14:10] MylesIsCool commented on #500
"What is the output link of /viaversion dump?"

[2016-09-19 15:59] Dimatert9 commented on #500
Попробуй включить debug: true в server.properties и в spigot.yml
А также напиши команду /viaversion dump и скинь то что она напишет. Или если она создала какойто файл, то и его скинь.

[2016-09-19 17:02] Morols1 opened #501 "java.lang.Exception: Could not find valid metadata"
### What is the output link of /viaversion dump?
http://hastebin.com/umagevoxay.json

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
BungeeCord

### How does this error happen? login? Using an item?
I dont now, its happend very often

### Is there an error in the console? Use pastebin.com. Is there a kick message?
htt

[2016-09-19 17:26] Matsv commented on #501
One of your plugins is sending invalid metadata, make sure that all your plugins are compatible with spigot 1.8.x. You can disable this informative exception by enabling suppress-metadata-errors in the config.

[2016-09-19 17:26] #501 closed

[2016-09-21 12:52] kirill3345 commented on #500
http://imgur.com/EkN7kh2
http://imgur.com/xslF4Rm

[2016-09-21 12:54] Matsv commented on #500
**Direct link:** http://hastebin.com/ilevukotel.json

[2016-09-21 13:03] kirill3345 commented on #500
I alary enabled debug: true  in  server.properties.

[2016-09-21 13:04] Matsv commented on #500
@kirill3345 Could you pastebin the full error? We can't do a lot with the current one, we need the info after `Actual error:`

[2016-09-21 13:05] kirill3345 commented on #500
After the "Actual error:" There is nothing.

[2016-09-21 13:07] kirill3345 commented on #500
http://pastebin.com/3ZMe19rh

[2016-09-21 13:14] Matsv commented on #500
Thanks, should be fixed using the latest build.

[2016-09-21 13:14] #500 closed

[2016-09-24 15:43] Blamo27 opened #502 "NPCRightClickEvent gets activated twice"
The event InventoryCloseEvent is fired when I open an inventory :

When I try to close my inventory with the 1.8.9 client version it's working but if the event is also fired if a player open an inventory with the 1.9.4 version.

I tried with 1.8.9 & 1.9.4 versions.

ViaVersion 0.9.9.

Can you fix this bug ?
Thanks.

[2016-09-24 16:23] Matsv commented on #502
Can't reproduce this bug with only ViaVersion and ProtocolLib.
Please follow the issue template (https://github.com/MylesIsCool/ViaVersion/blob/master/ISSUE_TEMPLATE.md) and give us steps how to reproduce it.

Thanks

[2016-09-24 17:21] Blamo27 commented on #502
/viaversion dump output :
-> http://hastebin.com/lubekugoko.json

Version: git-Spigot-e4d4710-e1ebe52 (MC: 1.8.8) (1.8.8-R0.1-SNAPSHOT)
-> No error in the console or else

[2016-09-24 20:48] MylesIsCool commented on #502
What are the drawbacks of this issue?

Are we able to use a certain plugin and see something?

[2016-09-24 20:54] Blamo27 commented on #502
This was removing an inventory that I was trying to use.

[2016-09-25 08:12] AsVaidas opened #503 "Crash"
### What is the output link of /viaversion dump?
http://hastebin.com/viquwufoju.json

### Are you using any additional software like BungeeCord? If so, what software and version? (Please list your plugins as well)
PaperSpigot (Newest)

### How does this error happen? login? Using an item?
Just disconects with error

### Is there an error in the console? Use pastebin.com. Is there a kick message?
h

[2016-09-25 08:54] Matsv commented on #503
One of your plugins is sending chunk packets wrongly, it fails to read the NBT.
Any chance you can copy your server to your local pc, and debug it?
Remove some plugins until it no longer happen?

Thanks

[2016-09-25 08:55] Blamo27 commented on #502
@MylesIsCool I used a plugin that is opening an inventory when player right click at an NPC.

[2016-09-25 08:58] Matsv commented on #502
@Blamo27 do you have a link for us to that plugin, or a way to reproduce it?

[2016-09-25 08:59] AsVaidas commented on #503
I use ViaBackwards, 1.10 server connecting with 1.9 version. With 1.10 client everything works ok, but with 1.9 client it just disconects. But this problem just in spawn. If i teleport to survival world, i can play without any problem. After playing, i can go to spawn, and everything magicaly fixes, no disconect, nothing, i can play normally.